Repository cms-btv-pog/BTVNanoCommissioning, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, core, runner

Update coffea version to 0.7.31
  test_env.yml
Labels: none

Remove unnecessary blank line in DY_sfl.py
  src/BTVNanoCommissioning/workflows/DY_sfl.py
Labels: none

Format optional_met_branches for better readability
  runner.py
Labels: runner

Add new Conda environment configuration file
  test_env_new.yml
Labels: none

Update environment file for workflow
  .github/workflows/ttbar_workflow.yml
Labels: CI

Update coffea version to 0.7.31
  test_env.yml
Labels: none

Update coffea version to 0.7.31 (#193)
  test_env.yml
Labels: none

fix reweighting
  runner.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/_2D_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/_2D_ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
Labels: runner

freeze correctionlib version
  test_env.yml
Labels: none

update setup
  setup.cfg
Labels: none

WZtoLNu2B sample finished
  src/BTVNanoCommissioning/utils/sample.py
Labels: none

fixing 2016 pre/post
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

fixed run 2 mapping for JME corrections, 2016
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

freeze correctionlib version
  setup.cfg
  test_env.yml
Labels: none

freeze correctionlib version (#195)
  setup.cfg
  test_env.yml
Labels: none

make proxy generation in workflows more robust
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
Labels: CI

test proxy generation in workflows robustly
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
Labels: CI

change np.bool to bool to account for version update
  src/BTVNanoCommissioning/utils/selection.py
Labels: none

add 2 new cross sections
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: none

add samples to sf_tt_semilep
  src/BTVNanoCommissioning/utils/sample.py
Labels: none

fix typo in kinbin binning
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

fix typo
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

Refactor mass probability functions and bin definitions
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

add basic log lambda calculation to replace chi^2
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

fix typo to save sbs in tnp
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

Refactor sf_ttsemilep_tnp.py for clarity and updates
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

fix cut for lambda
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

Refactor sort_category and add gen-level checks
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

Update sf_ttsemilep_tnp.py
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

fix regions
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

Refactor generation of leptons and neutrinos
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

Update PDF weight condition in correction.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

fix typo
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

add xs
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

update corrections/samples
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/sample.py
Labels: none

update sample list and corresponding cross-sections
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/sample.py
Labels: none

autopep8, fix comments, make likelihoods_pas publicly accesible
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

add cross sections for ttbar_semilep
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

update plotting for new ttbar semilep samples
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: none

update eta cut to 2.5
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

.github/labeler.yml:

CI:
- .github/workflows/*

core:
- src/BTVNanoCommissioning/*

runner:
- runner.py
