Repository cms-btv-pog/BTVNanoCommissioning, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, core, runner

fix: minor fix on runner.py
  runner.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
Labels: runner

fix : minor fixes for runner.py and comparison.py; add JERC to MET propagation (#39)
  .gitignore
  plotting/comparison.py
  plotting/plotdataMC.py
  runner.py
  src/BTVNanoCommissioning/data/PU/Winter22Run3/puweight_Winter22Run3.histo.root
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: runner

patch for the daskoutput name
  runner.py
Labels: runner

reformatted runner (hope with the right black version
  runner.py
Labels: runner

patch for the daskoutput name (#40)
  runner.py
Labels: runner

feat : improve plot scripts and add new variables
  plotting/comparison.py
  plotting/plotdataMC.py
  runner.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: runner

feat : add track related info
  .gitignore
  plotting/comparison.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: none

fix : minor fixs
  plotting/comparison.py
  plotting/plotdataMC.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: none

fix : fix the file merging in the plots and other minor fixes
  .github/workflows/python_linting.yml
  plotting/comparison.py
  plotting/plotdataMC.py
  runner.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: CI, runner

feat : minor fixes
  README.md
  setup.cfg
  src/BTVNanoCommissioning/helpers/update_branch.py
Labels: none

fix: update python version in setup.cfg
  setup.cfg
Labels: none

feat : update plotting scripts and add track variables (#41)
  .github/workflows/python_linting.yml
  .gitignore
  README.md
  plotting/comparison.py
  plotting/plotdataMC.py
  runner.py
  setup.cfg
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: CI, runner

fix setup.cfg
  README.md
  setup.cfg
  test_env.yml
Labels: none

fix: move setup to coffea0.7.20
  setup.cfg
Labels: none

fix: fix setup.cfg for CI pipelines (#42)
  README.md
  setup.cfg
  test_env.yml
Labels: none

feat : auto-scale x-axis
  plotting/comparison.py
  plotting/plotdataMC.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: none

fix: minor fix for plotting scripts
  README.md
  plotting/comparison.py
  plotting/plotdataMC.py
Labels: none

Fix : MC merging in plotting scripts and move to PuppiMET (#43)
  README.md
  plotting/comparison.py
  plotting/plotdataMC.py
  runner.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: runner

fix : fix MET correction and plotting scripts
  plotting/plotdataMC.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

fix:minor fix
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/update_branch.py
Labels: none

fix : fix MET correction and plotting scripts (#44)
  plotting/plotdataMC.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

fix: plotting style improvements; took care of future warnings in runner.py; added link to original code in runner.py
  README.md
  plotting/comparison.py
  plotting/plotdataMC.py
  runner.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: runner

removed deprecated `extra` in lxplus setup
  runner.py
Labels: runner

liniting with black
  plotting/comparison.py
  plotting/plotdataMC.py
  runner.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: runner

fixes for plotting
  plotting/comparison.py
  plotting/plotdataMC.py
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: none

fix label for btag discriminator; added prob distributions
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

protection for not adding SF axis to prob distributions
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: none

add printout for produced plot
  plotting/comparison.py
  plotting/plotdataMC.py
Labels: none

flake8 fix
  plotting/comparison.py
Labels: none

fix: add missing xsection & add protection for missing xsection
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
Labels: none

fix: plotting style improvements; future warnings in runner.py (#45)
  README.md
  plotting/comparison.py
  plotting/plotdataMC.py
  runner.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: runner

added prob var protection to second if condition in ctag ttbar workflows
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
Labels: none

added prob var protection to second if condition in ctag ttbar workflows (#46)
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
Labels: none

bug fix for ctag emu ttbar dilep workflow
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
Labels: none

bug fix for ctag emu ttbar dilep workflow (#47)
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
Labels: none

re-added worker port condition for lxplus; bug for xlabel in comparison.py
  plotting/comparison.py
  runner.py
Labels: runner

re-added worker port condition for lxplus; bug for xlabel in comparison.py (#48)
  plotting/comparison.py
  runner.py
Labels: runner

linting runner.py
  runner.py
Labels: runner

linting comparison.py
  plotting/comparison.py
Labels: none

bugfix jet to PFcand matching for ttbar dilep
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
Labels: none

.github/labeler.yml:

CI:
- .github/workflows/*

core:
- src/BTVNanoCommissioning/*

runner:
- runner.py
