Repository cms-btv-pog/BTVNanoCommissioning, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, core, runner

.github/labeler.yml:

CI:
- .github/workflows/*

core:
- src/BTVNanoCommissioning/*

runner:
- runner.py

Remove _algo HLTs as they are special for 2018
  src/BTVNanoCommissioning/helpers/BTA_helper.py
Labels: none

Update BTA workflow (#56)
  .github/workflows/BTA_workflow.yml
  README.md
  src/BTVNanoCommissioning/helpers/BTA_helper.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/__init__.py
Labels: CI

Adding compatibility with brux cluster
  runner.py
  src/BTVNanoCommissioning/utils/correction.py
  test_env.yml
Labels: runner

Fixed file path issues (brux)
  runner.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: runner

Fixed issue with output hists not being generated on brux
  runner.py
  test_env.yml
Labels: runner

Split jobs only for lxplus
  runner.py
Labels: runner

Run black
  runner.py
Labels: runner

More formatting changes
  src/BTVNanoCommissioning/helpers/BTA_helper.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
Labels: none

Fix bug in xs_scaler and add more XSec values
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

Small bug fix
  scripts/plotdataMC.py
Labels: none

Restore old XSecs
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

Adding compatibility with brux cluster (#58)
  runner.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/helpers/BTA_helper.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  test_env.yml
Labels: runner

Fixing None padding order, adding otherjets in Wc electron WF
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
Labels: none

Fixing None padding order, adding otherjets in Wc muon WF
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
Labels: none

Fix abs in track selections and linting
  src/BTVNanoCommissioning/workflows/BTA_producer.py
Labels: none

Fix data RunFG JERC
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
Labels: none

Add standalone condor utility
  .gitignore
  README.md
  condor/execute.sh
  condor/submitter.py
Labels: none

Fix linting
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

Add BTA_ttbar workflow
  .github/workflows/BTA_workflow.yml
  src/BTVNanoCommissioning/helpers/BTA_helper.py
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
  src/BTVNanoCommissioning/workflows/__init__.py
Labels: CI

Fix PuppiMET and GenPart syntax
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
Labels: none

Remove PNet and ParTAK4 for BTA workflow (adapt NanoV11)
  src/BTVNanoCommissioning/workflows/BTA_producer.py
Labels: none

README: add frequent questions
  README.md
Labels: none

Fix top pT reweighting
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
Labels: none

Standalone condor utility: if the dest dir is a normal path, fallback to cp
  condor/execute.sh
Labels: none

feat: add BTA_ttbar_workflow & standalone condor submission (#57)
  .github/workflows/BTA_workflow.yml
  .gitignore
  README.md
  condor/execute.sh
  condor/submitter.py
  src/BTVNanoCommissioning/helpers/BTA_helper.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
  src/BTVNanoCommissioning/workflows/__init__.py
Labels: CI

feat&fix: processed info retrieve & bug fixes
  README.md
  runner.py
  scripts/comparison.py
  scripts/dump_processed.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: runner

feat&fix: processed info retrieve & bug fixes
  README.md
  runner.py
  scripts/comparison.py
  scripts/dump_processed.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: runner

fix : suggestions from Denise
  .github/workflows/BTA_workflow.yml
  README.md
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: CI

fix : add tools for recovery & fixes for run3 (#63)
  .github/workflows/BTA_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ttbar_DL_workflow.yml
  .github/workflows/ttbar_SL_workflow.yml
  README.md
  runner.py
  scripts/comparison.py
  scripts/dump_processed.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: CI, runner

fix : minor fix on path
  README.md
  notebooks/BTV_commissiong_tutorial-coffea.ipynb
  setup.cfg
  src/BTVNanoCommissioning/data/PU/Summer22EERun3/__init__.py
  src/BTVNanoCommissioning/data/PU/Summer22EERun3/puweight_Summer22EERun3.histo.root
  src/BTVNanoCommissioning/data/PU/Summer22Run3/__init__.py
  src/BTVNanoCommissioning/data/PU/Summer22Run3/puweight_Winter22Run3.histo.root
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

fix : minor fix on path (#66)
  README.md
  notebooks/BTV_commissiong_tutorial-coffea.ipynb
  setup.cfg
  src/BTVNanoCommissioning/data/PU/Summer22EERun3/__init__.py
  src/BTVNanoCommissioning/data/PU/Summer22EERun3/puweight_Summer22EERun3.histo.root
  src/BTVNanoCommissioning/data/PU/Summer22Run3/__init__.py
  src/BTVNanoCommissioning/data/PU/Summer22Run3/puweight_Winter22Run3.histo.root
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

fix: PU file fix&example file
  metadata/test_bta_run3.json
  src/BTVNanoCommissioning/data/PU/Summer22EERun3/puweight_Summer22EERun3.histo.root
Labels: none

fix: PU file fix&example file (#71)
  metadata/test_bta_run3.json
  src/BTVNanoCommissioning/data/PU/Summer22EERun3/puweight_Summer22EERun3.histo.root
Labels: none

test file for QCD
  metadata/test_QCD.json
Labels: none

feat: add new dataset files & improvements on scripts
  README.md
  metadata/MC_Summer22EE_Run3_2022_Comm_v2_noPF.json
  metadata/MC_Summer22EE_Run3_2022_qcd_Comm_v2.json
  metadata/MC_Summer22EE_Run3_2022_qcdmu_Comm_v2.json
  metadata/MC_Summer22_Run3_2022_Comm_v2_noPF.json
  metadata/MC_Summer22_Run3_2022_qcd_Comm_v2.json
  metadata/MC_Summer22_Run3_2022_qcdmu_Comm_v2.json
  metadata/data_Summer22EE_Run3_2022_btagmu_Comm_v2.json
  metadata/data_Summer22EE_Run3_2022_e_Comm_v2_noPF.json
  metadata/data_Summer22EE_Run3_2022_em_Comm_v2_noPF.json
  metadata/data_Summer22EE_Run3_2022_jetmet_Comm_v2.json
  metadata/data_Summer22EE_Run3_2022_mu_Comm_v2_noPF.json
  metadata/data_Summer22_Run3_2022_btagmu_Comm_v2.json
  metadata/data_Summer22_Run3_2022_e_Comm_v2_noPF.json
  metadata/data_Summer22_Run3_2022_em_Comm_v2_noPF.json
  metadata/data_Summer22_Run3_2022_jetmet_Comm_v2.json
  metadata/data_Summer22_Run3_2022_mu_Comm_v2_noPF.json
  metadata/test_bta_run3.json
  runner.py
  scripts/fetch.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/data/JME/Summer22Run3/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/example.py
Labels: runner

feat : add electron & muon SFs for Summer22/Summer22EE
  README.md
  metadata/MC_Summer22EE_Run3_2022_BTV_Comm_v2_NanoV12_noPF.json
  metadata/MC_Summer22EE_Run3_2022_qcd_BTV_Comm_v2_NanoV12.json
  metadata/MC_Summer22EE_Run3_2022_qcdmu_BTV_Comm_v2_NanoV12.json
  metadata/MC_Summer22_Run3_2022_BTV_Comm_v2_NanoV12_noPF.json
  metadata/MC_Summer22_Run3_2022_qcd_BTV_Comm_v2_NanoV12.json
  metadata/MC_Summer22_Run3_2022_qcdmu_BTV_Comm_v2_NanoV12.json
  metadata/data_Summer22EE_Run3_2022_btagmu_BTV_Comm_v2_NanoV12.json
  metadata/data_Summer22EE_Run3_2022_e_BTV_Comm_v2_NanoV12_noPF.json
  metadata/data_Summer22EE_Run3_2022_em_BTV_Comm_v2_NanoV12_noPF.json
  metadata/data_Summer22EE_Run3_2022_jetmet_BTV_Comm_v2_NanoV12.json
  metadata/data_Summer22EE_Run3_2022_mu_BTV_Comm_v2_NanoV12_noPF.json
  metadata/data_Summer22_Run3_2022_btagmu_BTV_Comm_v2_NanoV12.json
  metadata/data_Summer22_Run3_2022_e_BTV_Comm_v2_NanoV12_noPF.json
  metadata/data_Summer22_Run3_2022_em_BTV_Comm_v2_NanoV12_noPF.json
  metadata/data_Summer22_Run3_2022_jetmet_BTV_Comm_v2_NanoV12.json
  metadata/data_Summer22_Run3_2022_mu_BTV_Comm_v2_NanoV12_noPF.json
  src/BTVNanoCommissioning/data/LSF/Summer22EERun3/ScaleFactors_Muon_Z_Run2022EE_Prompt_abseta_pT_schemaV2.json
  src/BTVNanoCommissioning/data/LSF/Summer22EERun3/ScaleFactors_Muon_trackerMuons_Z_2022EE_Prompt_ID_ISO_schemaV2.json
  src/BTVNanoCommissioning/data/LSF/Summer22EERun3/electron.json.gz
  src/BTVNanoCommissioning/data/LSF/Summer22Run3/ScaleFactors_Muon_Z_Run2022_Prompt_abseta_pT_schemaV2.json
  src/BTVNanoCommissioning/data/LSF/Summer22Run3/ScaleFactors_Muon_trackerMuons_Z_2022_Prompt_ID_ISO_schemaV2.json
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
Labels: none

feat: add new dataset files & improvements on scripts (#72)
  README.md
  metadata/MC_Summer22EE_Run3_2022_BTV_Comm_v2_NanoV12_noPF.json
  metadata/MC_Summer22EE_Run3_2022_qcd_BTV_Comm_v2_NanoV12.json
  metadata/MC_Summer22EE_Run3_2022_qcdmu_BTV_Comm_v2_NanoV12.json
  metadata/MC_Summer22_Run3_2022_BTV_Comm_v2_NanoV12_noPF.json
  metadata/MC_Summer22_Run3_2022_qcd_BTV_Comm_v2_NanoV12.json
  metadata/MC_Summer22_Run3_2022_qcdmu_BTV_Comm_v2_NanoV12.json
  metadata/data_Summer22EE_Run3_2022_btagmu_BTV_Comm_v2_NanoV12.json
  metadata/data_Summer22EE_Run3_2022_e_BTV_Comm_v2_NanoV12_noPF.json
  metadata/data_Summer22EE_Run3_2022_em_BTV_Comm_v2_NanoV12_noPF.json
  metadata/data_Summer22EE_Run3_2022_jetmet_BTV_Comm_v2_NanoV12.json
  metadata/data_Summer22EE_Run3_2022_mu_BTV_Comm_v2_NanoV12_noPF.json
  metadata/data_Summer22_Run3_2022_btagmu_BTV_Comm_v2_NanoV12.json
  metadata/data_Summer22_Run3_2022_e_BTV_Comm_v2_NanoV12_noPF.json
  metadata/data_Summer22_Run3_2022_em_BTV_Comm_v2_NanoV12_noPF.json
  metadata/data_Summer22_Run3_2022_jetmet_BTV_Comm_v2_NanoV12.json
  metadata/data_Summer22_Run3_2022_mu_BTV_Comm_v2_NanoV12_noPF.json
  metadata/test_bta_run3.json
  runner.py
  scripts/fetch.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/data/JME/Summer22Run3/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/LSF/Summer22EERun3/ScaleFactors_Muon_Z_Run2022EE_Prompt_abseta_pT_schemaV2.json
  src/BTVNanoCommissioning/data/LSF/Summer22EERun3/ScaleFactors_Muon_trackerMuons_Z_2022EE_Prompt_ID_ISO_schemaV2.json
  src/BTVNanoCommissioning/data/LSF/Summer22EERun3/electron.json.gz
  src/BTVNanoCommissioning/data/LSF/Summer22Run3/ScaleFactors_Muon_Z_Run2022_Prompt_abseta_pT_schemaV2.json
  src/BTVNanoCommissioning/data/LSF/Summer22Run3/ScaleFactors_Muon_trackerMuons_Z_2022_Prompt_ID_ISO_schemaV2.json
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/example.py
Labels: runner

fix : remove bad files & add cross-sections
  metadata/MC_Summer22EE_Run3_2022_BTV_Comm_v2_NanoV12_noPF.json
  metadata/MC_Summer22_Run3_2022_BTV_Comm_v2_NanoV12_noPF.json
  metadata/data_Summer22EE_Run3_2022_btagmu_BTV_Comm_v2_NanoV12.json
  metadata/data_Summer22EE_Run3_2022_e_BTV_Comm_v2_NanoV12_noPF.json
  metadata/data_Summer22EE_Run3_2022_em_BTV_Comm_v2_NanoV12_noPF.json
  metadata/data_Summer22EE_Run3_2022_jetmet_BTV_Comm_v2_NanoV12.json
  metadata/data_Summer22EE_Run3_2022_mu_BTV_Comm_v2_NanoV12_noPF.json
  metadata/data_Summer22_Run3_2022_btagmu_BTV_Comm_v2_NanoV12.json
  metadata/data_Summer22_Run3_2022_e_BTV_Comm_v2_NanoV12_noPF.json
  metadata/data_Summer22_Run3_2022_em_BTV_Comm_v2_NanoV12_noPF.json
  metadata/data_Summer22_Run3_2022_jetmet_BTV_Comm_v2_NanoV12.json
  metadata/data_Summer22_Run3_2022_mu_BTV_Comm_v2_NanoV12_noPF.json
  metadata/test_bta_run3.json
  scripts/fetch.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
Labels: none

Adding JP tagger recalculation
  metadata/test_bta_run3.json
  src/BTVNanoCommissioning/data/JPCalib/calibeHistoWrite_Data2022F_NANO130X_v1.root
  src/BTVNanoCommissioning/data/JPCalib/calibeHistoWrite_Data2022G_NANO130X_v1.root
  src/BTVNanoCommissioning/data/JPCalib/calibeHistoWrite_MC2022EE_NANO130X_v1.root
  src/BTVNanoCommissioning/helpers/BTA_helper.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
Labels: none

Remove print
  src/BTVNanoCommissioning/workflows/BTA_producer.py
Labels: none
