Repository cms-btv-pog/BTVNanoCommissioning, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, core, runner

clean up
  metadata/Summer22/MC_Summer22_2022_sf_ttdilep_kin.json
  metadata/Summer22/data_Summer22_2022_sf_ttdilep_kin.json
Labels: none

Better execution of fetch and suball
  scripts/fetch.py
  scripts/suball.py
Labels: none

Small verbose change in fetch
  scripts/fetch.py
Labels: none

Fixed dilep_pt triplicated error
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

Updating suball to its final state
  scripts/suball.py
Labels: none

Patch for the previous commit
  scripts/suball.py
Labels: none

missing if fix
  scripts/suball.py
Labels: none

Fixed correctionlib file name
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

debug
  .github/workflows/BTA_workflow.yml
Labels: CI

feat: add b/c-tagging working points for 2024 Summer24 campaign
  src/BTVNanoCommissioning/utils/selection.py
Labels: none

fix grid proxy in workflows
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
Labels: CI

Fix grid proxy in workflows (#139)
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
Labels: CI

Small correction to fix Wc workflow
  scripts/fetch.py
  scripts/plotdataMC.py
  scripts/suball.py
Labels: none

add new ttsemilep selection for 2D pseudo-continuous calibration
  .gitignore
  scripts/dump_processed.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/_2D_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: none

fix bug in histogrammer
  scripts/fetch.py
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

Fixing accumulation of datasets when running futures executor for fetch.py
  scripts/fetch.py
Labels: none

rename file, move some code to a better place, add plot labels
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/_2D_ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/__init__.py
Labels: none

fix DY cross-sections
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

remove un-needed discriminators
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

bug fix
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

fix semileptonic +c ttbar workflow
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: none

for some reason did not commit the quotation marks...
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: none

Fixed dilep_pt triplicated error (#136)
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

Added b/c-tagging working points for 2024 Summer24 campaign (#138)
  src/BTVNanoCommissioning/utils/selection.py
Labels: none

add 2024 JEC and jet veto maps
  src/BTVNanoCommissioning/data/JME/2024_Summer24/Summer24Prompt24_RunBCDEFGHI.root
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

black reformatting
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

add 2024 PU to config
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

Run dataset validation to exclude suspicious structures (early Runs with missing NanoAOD entries for prompt dataMC checks)
  runner.py
Labels: runner

Removed debug print statement
  runner.py
Labels: runner

Removed further debug statements
  runner.py
Labels: runner

btag_ttbar_sf: update workflow name depending on channel
  src/BTVNanoCommissioning/workflows/btag_ttbar_sf.py
Labels: none

btag_ttbar_sf: simplify b_tagger_config dict
  src/BTVNanoCommissioning/workflows/btag_ttbar_sf.py
Labels: none

update variables for btag_ttbar_sf workflow
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/btag_ttbar_sf.py
Labels: none

update plotting for btag_ttbar_sf
  scripts/plot_histograms_iterative_btagSF.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: none

update samples for btag_ttbar_sf
  src/BTVNanoCommissioning/utils/sample.py
Labels: none

update correction/ak4parameters for 2024
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

update xsection for DYto2E/Mu/Tau
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

add dataset json for Summ24 btag_ttbar_sf
  metadata/Summer24/MC_Summer24_2024_btag_ttbar_sf.json
  metadata/Summer24/data_Summer24_2024_btag_ttbar_sf.json
Labels: none

update sites_map.json
  .sites_map.json
Labels: none

Changed wrong accumulation
  scripts/fetch.py
Labels: none

.github/labeler.yml:

CI:
- .github/workflows/*

core:
- src/BTVNanoCommissioning/*

runner:
- runner.py
