Repository cms-btv-pog/BTVNanoCommissioning, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, core, runner

.github/labeler.yml:

CI:
- .github/workflows/*

core:
- src/BTVNanoCommissioning/*

runner:
- runner.py

delete extra lines
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

add fix for JER smearing
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

reformat with black
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

Update directory filtering for campaign names
  src/BTVNanoCommissioning/helpers/func.py
Labels: none

Refactor scale calculation by removing abs(ele_etaSC)
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

Black code formatting
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

implement linter changes
  .github/workflows/python_linting.yml
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogramming/histogrammer.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/common.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/ttsemilep_2D.py
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/_2D_ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
Labels: CI

fixing test_env.yml
  test_env.yml
Labels: none

electron scale & smearing files changed
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

np.bool is deprecated
  src/BTVNanoCommissioning/utils/selection.py
Labels: none

Clean up previous commits
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

Update eleSS config and add safety feature for eleSS smearing implementation (#178)
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

add fix for runner and for JER smearing corrections path change (#177)
  runner.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: runner

fix JES/JER variation logic to avoid one-sided shifts
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

fix JES/JER variation logic to avoid one-sided shifts (#179)
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

add small fix for local pileup corrections
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

add nodefaults
  test_env.yml
Labels: none

chore: PS for 2025
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet140_run391668_398860.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet200_run391668_398860.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet260_run391668_398860.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet320_run391668_398860.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet400_run391668_398860.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet40_run391668_398860.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet500_run391668_398860.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet60_run391668_398860.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet80_run391668_398860.csv
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet140_run391668_398860.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet200_run391668_398860.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet260_run391668_398860.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet320_run391668_398860.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet400_run391668_398860.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet40_run391668_398860.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet500_run391668_398860.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet60_run391668_398860.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet80_run391668_398860.json
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/workflows/qgtag_dijet_producer.py
Labels: none

chore: update eta limits for qg
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/qgtag_dijet_producer.py
Labels: none

feat: 'all' option for choosing campaigns in fetch
  scripts/fetch.py
Labels: none

feat: some updates
  src/BTVNanoCommissioning/data/Prescales/ps_weight_Photon110EB_TightID_TightIso_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_Photon200_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_Photon30EB_TightID_TightIso_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_Photon50EB_TightID_TightIso_run378985_386951.json
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/qgtag_dijet_producer.py
  src/BTVNanoCommissioning/workflows/qgtag_photonjet_producer.py
Labels: none

chore: update photonjet prescales
  src/BTVNanoCommissioning/workflows/qgtag_dijet_producer.py
  src/BTVNanoCommissioning/workflows/qgtag_photonjet_producer.py
Labels: none

refactor flavour tagging
  scripts/missingFiles.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/data/EGM/Summer24/electron.json.gz
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogramming/histogrammer.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/common.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/_2D_ttsemilep_valid_sf.py
Labels: none

working version
  runner.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/_2D_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/_2D_ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
Labels: runner

working Wc
  scripts/missingFiles.py
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/workflows/_2D_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/_2D_ttsemilep_valid_sf.py
Labels: none

revert to old ctag Wc
  scripts/missingFiles.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
Labels: none

save
  runner.py
  scripts/fetch.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogramming/histogrammer.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
Labels: runner

add systematics to corrections
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

typo
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

update samples
  src/BTVNanoCommissioning/utils/sample.py
Labels: none

delete obsolete line
  runner.py
Labels: runner

some bug fixes
  condor/execute.sh
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogramming/histogrammer.py
  src/BTVNanoCommissioning/workflows/_2D_Wc_valid_sf.py
Labels: none

run linter
  runner.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogramming/histogrammer.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/common.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/wc.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/_2D_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/_2D_ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
Labels: runner

systs bug
  src/BTVNanoCommissioning/workflows/_2D_Wc_valid_sf.py
Labels: none

fix condor submission with mamba env - add mamba exe to path - activate mamba env
  runner.py
Labels: runner

adding metadata for 2024, file to combine coffea outputs when running condor submission on lxplus, and changinf jobflavour to workday
  condor_lxplus/combinecoffeaoutputs.py
  condor_lxplus/submitter.py
  metadata/Summer24/MC_Summer24_2024_DY_sfl.json
  metadata/Summer24/data_Summer24_2024_DY_sfl.json
  metadata/Summer24/minor_MC_Summer24_2024_DY_sfl.json
Labels: none

Metadata 2022
  metadata/Summer22/MC_Summer22_2022_qgtag_DY_sf_org.json
  metadata/Summer22/MC_Summer22_2022_qgtag_dijet_org.json
  metadata/Summer22/data_Summer22_2022_qgtag_DY_sf_org.json
  metadata/Summer22/data_Summer22_2022_qgtag_dijet_org.json
Labels: none

Add files via upload
  metadata/Summer22EE/MC_Summer22EE_2022_qgtag_DY_sf_org.json
  metadata/Summer22EE/MC_Summer22EE_2022_qgtag_dijet_org.json
  metadata/Summer22EE/data_Summer22EE_2022_qgtag_DY_sf_org.json
  metadata/Summer22EE/data_Summer22EE_2022_qgtag_dijet_org.json
Labels: none

Add files via upload
  metadata/Summer23/MC_Summer23_2023_qgtag_DY_sf_org.json
  metadata/Summer23/MC_Summer23_2023_qgtag_dijet_org.json
  metadata/Summer23/data_Summer23_2023_qgtag_DY_sf_org.json
  metadata/Summer23/data_Summer23_2023_qgtag_dijet_org.json
Labels: none

Metadata 2023BPix
  metadata/Summer23BPix/MC_Summer23BPix_2023_qgtag_DY_sf_org.json
  metadata/Summer23BPix/MC_Summer23BPix_2023_qgtag_dijet_org.json
  metadata/Summer23BPix/data_Summer23BPix_2023_qgtag_DY_sf_org.json
  metadata/Summer23BPix/data_Summer23BPix_2023_qgtag_dijet_org.json
Labels: none
