Repository cms-btv-pog/BTVNanoCommissioning, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, core, runner

Fix for systematic uncertainties: PU module and Summer22Run3 JER (using Winter22 files) in compiled jecs
  src/BTVNanoCommissioning/data/JME/Summer22Run3/Summer22Run3_V1_MC_PtResolution_AK4PFPuppi.jr.txt
  src/BTVNanoCommissioning/data/JME/Summer22Run3/Summer22Run3_V1_MC_SF_AK4PFPuppi.jersf.txt
  src/BTVNanoCommissioning/data/JME/Summer22Run3/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

Fix for systematic uncertainties: PU module and Summer22Run3 JER (using Winter22 files) in compiled jecs
  src/BTVNanoCommissioning/utils/compile_jec.py
Labels: none

Removing one line and reformatting with black
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

Fix: systematic uncertainties (#89)
  src/BTVNanoCommissioning/data/JME/Summer22Run3/Summer22Run3_V1_MC_PtResolution_AK4PFPuppi.jr.txt
  src/BTVNanoCommissioning/data/JME/Summer22Run3/Summer22Run3_V1_MC_SF_AK4PFPuppi.jersf.txt
  src/BTVNanoCommissioning/data/JME/Summer22Run3/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/utils/compile_jec.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

feat : add validation workflow & ROC/efficiency script
  metadata/data_Summer22EE_Run3_2022_em_BTV_Comm_v2_NanoV12_noPF.json
  notebooks/getROC_eff.ipynb
  runner.py
  scripts/fetch.py
  scripts/missingFiles.py
  setup.cfg
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
  testfile/hists_validation_MC_Summer22EE_Run3_2022_BTV_Comm_v2_NanoV12_noPF.coffea
Labels: runner

fix: correction
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
Labels: none

fix: correction
  .sites_map.json
  README.md
  metadata/MC_Summer22EE_Run3_2022_qcd_BTV_Comm_v2_NanoV12.json
  metadata/MC_Summer22EE_Run3_2022_qcdmu_BTV_Comm_v2_NanoV12.json
  metadata/MC_Summer22_Run3_2022_qcd_BTV_Comm_v2_NanoV12.json
  metadata/MC_Summer22_Run3_2022_qcdmu_BTV_Comm_v2_NanoV12.json
  metadata/data_Summer22EE_2022_em_BTV_Comm_v1_NanoV12.json
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
Labels: none

fix: correction implementation & add pu info
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: none

fix: add pv hists
  condor/execute.sh
  src/BTVNanoCommissioning/data/JME/Summer22Run3/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/JPCalib/Summer23/calibeHistoWrite_Data2023B-22Sep2023.root
  src/BTVNanoCommissioning/data/JPCalib/Summer23/calibeHistoWrite_Data2023C-22Sep2023_v1.root
  src/BTVNanoCommissioning/data/JPCalib/Summer23/calibeHistoWrite_Data2023C-22Sep2023_v2.root
  src/BTVNanoCommissioning/data/JPCalib/Summer23/calibeHistoWrite_Data2023C-22Sep2023_v3.root
  src/BTVNanoCommissioning/data/JPCalib/Summer23/calibeHistoWrite_Data2023C-22Sep2023_v4.root
  src/BTVNanoCommissioning/data/JPCalib/Summer23/calibeHistoWrite_MC2023_Summer23.root
  src/BTVNanoCommissioning/data/JPCalib/Summer23BPix/calibeHistoWrite_Data2023D-22Sep2023_v1.root
  src/BTVNanoCommissioning/data/JPCalib/Summer23BPix/calibeHistoWrite_Data2023D-22Sep2023_v2.root
  src/BTVNanoCommissioning/data/JPCalib/Summer23BPix/calibeHistoWrite_MC2023_Summer23BPix.root
  src/BTVNanoCommissioning/data/PU/Summer23/puwei_Summer23.histo.root
  src/BTVNanoCommissioning/data/PU/Summer23BPix/puwei_Summer23BPix.histo.root
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: none

fix:axis
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: none

fix:minor
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
Labels: none

fix: compatible with current changes
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
Labels: none

fix: working QCD
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet140_run355374_362760.json
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/__init__.py
Labels: none

feat: fixed QCD
  metadata/MC_Summer23_Run3_2023_qcd_BTV_Comm_v1_NanoV12.json
  metadata/MC_Summer23_Run3_2023_qcdmu_BTV_Comm_v1_NanoV12.json
  scripts/dump_prescale.py
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet140_run366727_370790.json
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
Labels: none

feat: add veto
  src/BTVNanoCommissioning/workflows/QCD_validation.py
Labels: none

fix : format
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

fix : workflow
  .github/workflows/BTA_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  metadata/test_bta_run3.json
  runner.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: CI, runner

fix : remove dependency python 3.8
  .github/workflows/BTA_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  src/BTVNanoCommissioning/data/PU/Summer23/__init__.py
  src/BTVNanoCommissioning/data/PU/Summer23BPix/__init__.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: CI

feat : minor fixes
  .github/workflows/ctag_DY_workflow.yml
  README.md
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: CI

feat: add xsection
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

fix: forcing parsl to the last working version
  test_env.yml
Labels: none

fix: update filename
  metadata/data_Summer23BPix_2023_mu_BTV_Run3_2023_Comm_MINIAODv4_NanoV12.json
Labels: none

feat: JEC correctionlib
  src/BTVNanoCommissioning/utils/compile_jec.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

fix : fix to the parsl version, minor update on one of the filenames (#93)
  metadata/data_Summer23BPix_2023_mu_BTV_Run3_2023_Comm_MINIAODv4_NanoV12.json
  test_env.yml
Labels: none

feat: JEC correctionlib (#94)
  src/BTVNanoCommissioning/utils/compile_jec.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

feat: prompt dataMC checks
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  README.md
  runner.py
  scripts/fetch.py
  scripts/validation_plot.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  testfile/hists_validation_MC_Summer22EE_Run3_2022_BTV_Comm_v2_NanoV12_noPF.coffea
Labels: CI, runner

fix: dtype
  README.md
  src/BTVNanoCommissioning/workflows/QCD_validation.py
Labels: none

added scripts to run workflows
  arguments.txt
  createremotedir.sh
  ctag_DY.sh
  ctag_wc.sh
  master.sh
  src/BTVNanoCommissioning/helpers/xsection.py
  ttdilep.sh
  ttsemilep.sh
Labels: none

change ttsemilep to all plots
  ttsemilep.sh
Labels: none

linting with black
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

fix: dump processed
  prescales.ipynb
  ps_weight_JSON_PFJet140.json
  scripts/dump_processed.py
  scripts/submit/arguments.txt
  scripts/submit/createremotedir.sh
  scripts/submit/ctag_DY.sh
  scripts/submit/ctag_wc.sh
  scripts/submit/master.sh
  scripts/submit/ttdilep.sh
  scripts/submit/ttsemilep.sh
Labels: none

feat: clean up MET
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: none

Add submit script instructions in README.md
  README.md
Labels: none

feat: prompt dataMC checks (#95)
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  README.md
  prescales.ipynb
  ps_weight_JSON_PFJet140.json
  runner.py
  scripts/dump_processed.py
  scripts/fetch.py
  scripts/submit/arguments.txt
  scripts/submit/createremotedir.sh
  scripts/submit/ctag_DY.sh
  scripts/submit/ctag_wc.sh
  scripts/submit/master.sh
  scripts/submit/ttdilep.sh
  scripts/submit/ttsemilep.sh
  scripts/validation_plot.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  testfile/hists_validation_MC_Summer22EE_Run3_2022_BTV_Comm_v2_NanoV12_noPF.coffea
Labels: CI, runner

feat: add jr in Summer23 and minor fixes
  metadata/data_Summer23BPix_2023_jetmet_BTV_Run3_2023_Comm_MINIAODv4_NanoV12.json
  metadata/data_Summer23_2023_jetmet_BTV_Run3_2023_Comm_MINIAODv4_NanoV12.json
  scripts/dump_processed.py
  scripts/fetch.py
  src/BTVNanoCommissioning/data/JME/Summer22/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/JME/Summer23/Summer23Prompt23_RunCv123_JRV1_MC_PtResolution_AK4PFPuppi.jr.txt
  src/BTVNanoCommissioning/data/JME/Summer23/Summer23Prompt23_RunCv123_JRV1_MC_SF_AK4PFPuppi.jersf.txt
  src/BTVNanoCommissioning/data/JME/Summer23/Summer23Prompt23_RunCv4_JRV1_MC_PtResolution_AK4PFPuppi.jr.txt
  src/BTVNanoCommissioning/data/JME/Summer23/Summer23Prompt23_RunCv4_JRV1_MC_SF_AK4PFPuppi.jersf.txt
  src/BTVNanoCommissioning/data/JME/Summer23/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/JME/Summer23BPix/Summer23BPixPrompt23_JRV1_MC_PtResolution_AK4PFPuppi.jr.txt
  src/BTVNanoCommissioning/data/JME/Summer23BPix/Summer23BPixPrompt23_JRV1_MC_SF_AK4PFPuppi.jersf.txt
  src/BTVNanoCommissioning/data/JME/Summer23BPix/Summer23BPixPrompt23_V1_MC_L1FastJet_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Summer23BPix/Summer23BPixPrompt23_V1_MC_L2L3Residual_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Summer23BPix/Summer23BPixPrompt23_V1_MC_L2Relative_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Summer23BPix/Summer23BPixPrompt23_V1_MC_L2Residual_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Summer23BPix/Summer23BPixPrompt23_V1_MC_L3Absolute_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Summer23BPix/Summer23BPixPrompt23_V1_MC_UncertaintySources_AK4PFPuppi.junc.txt
  src/BTVNanoCommissioning/data/JME/Summer23BPix/Summer23BPixPrompt23_V1_MC_Uncertainty_AK4PFPuppi.junc.txt
  src/BTVNanoCommissioning/data/JME/Summer23BPix/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/compile_jec.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: none

add jec
  src/BTVNanoCommissioning/data/JME/Summer23/Summer23Prompt23_JRV1_MC_PtResolution_AK4PFPuppi.jr.txt
  src/BTVNanoCommissioning/data/JME/Summer23/Summer23Prompt23_JRV1_MC_SF_AK4PFPuppi.jersf.txt
  src/BTVNanoCommissioning/data/JME/Summer23/Summer23Prompt23_RunCv1234_JRV1_DATA_PtResolution_AK4PFPuppi.jr.txt
  src/BTVNanoCommissioning/data/JME/Summer23/Summer23Prompt23_V1_MC_L2L3Residual_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Summer23/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/JME/Summer23BPix/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/utils/compile_jec.py
Labels: none

Merge with new JEC/jet map features
  scripts/dohadd.py
  scripts/fetch.py
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
Labels: none

fix: fix black and correct MET[skip ci]
  runner.py
  setup.cfg
  src/BTVNanoCommissioning/data/lumiMasks/Cert_Collisions2024_378981_380649_Golden.json
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: runner

fix: Merge with new JEC/jet map features
  quickcheck.py
  runner.py
  scripts/dohadd.py
  scripts/dump_prescale.py
  scripts/fetch.py
  scripts/plotdataMC.py
  setup.cfg
  src/BTVNanoCommissioning/data/lumiMasks/Cert_Collisions2024_378981_380649_Golden.json
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/array_writer.py
  src/BTVNanoCommissioning/utils/compile_jec.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: runner

fix: voms setup, Wc selection
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
  .sites_map.json
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  test_env.yml
Labels: CI

.github/labeler.yml:

CI:
- .github/workflows/*

core:
- src/BTVNanoCommissioning/*

runner:
- runner.py
