Repository cms-btv-pog/BTVNanoCommissioning, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, core, runner

feat : correctionlib implementation & minor fixes
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/python_linting.yml
  .github/workflows/ttbar_SL_DL_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation_workflow.yml
  .gitignore
  .gitmodules
  README.md
  plotting/plotdataMC.py
  runner.py
  setup.cfg
  src/BTVNanoCommissioning/data/JME/2017_UL/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/JME/Rereco17_94X/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/JME/Winter22Run3/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/compile_jec.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
  test_env.yml
Labels: CI, runner

updated 13 TeV single top and ttbar cross sections
  metadata/xsection.json
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

black v23 does not like formatting of black v22
  metadata/__init__.py
  plotting/__init__.py
  plotting/comparison.py
  src/BTVNanoCommissioning/data/PU/Winter22Run3/__init__.py
  src/BTVNanoCommissioning/data/__init__.py
  src/BTVNanoCommissioning/data/lumiMasks/__init__.py
  src/BTVNanoCommissioning/helpers/__init__.py
  src/BTVNanoCommissioning/helpers/cTagSFReader.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/__init__.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
Labels: none

fix: updated 13 TeV single top and ttbar cross sections (#49)
  metadata/__init__.py
  metadata/xsection.json
  plotting/__init__.py
  plotting/comparison.py
  src/BTVNanoCommissioning/data/PU/Winter22Run3/__init__.py
  src/BTVNanoCommissioning/data/__init__.py
  src/BTVNanoCommissioning/data/lumiMasks/__init__.py
  src/BTVNanoCommissioning/helpers/__init__.py
  src/BTVNanoCommissioning/helpers/cTagSFReader.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/__init__.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
Labels: none

fix : fix issues for action updates
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ttbar_SL_DL_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation_workflow.yml
  metadata/__init__.py
  metadata/nano_UL17_test.json
  plotting/__init__.py
  plotting/comparison.py
  pyproject.toml
  runner.py
  setup.cfg
  src/BTVNanoCommissioning/data/PU/Winter22Run3/__init__.py
  src/BTVNanoCommissioning/data/__init__.py
  src/BTVNanoCommissioning/data/lumiMasks/__init__.py
  src/BTVNanoCommissioning/helpers/__init__.py
  src/BTVNanoCommissioning/helpers/cTagSFReader.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/__init__.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
  test_env.yml
Labels: CI, runner

fix: suggestions from Denise & fix semilep selection
  README.md
  runner.py
  setup.cfg
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
Labels: runner

feat : suggestions from Annika
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation_workflow.yml
  README.md
  plotting/plotdataMC.py
  runner.py
  setup.cfg
  src/BTVNanoCommissioning/data/LSF/2016postVFP_UL/Efficiency_muon_generalTracks_Run2016postVFP_UL_trackerMuon.histo.json
  src/BTVNanoCommissioning/data/LSF/2016postVFP_UL/Efficiency_muon_trackerMuon_Run2016postVFP_UL_ID.histo.json
  src/BTVNanoCommissioning/data/LSF/2016preVFP_UL/Efficiency_muon_generalTracks_Run2016preVFP_UL_trackerMuon.histo.json
  src/BTVNanoCommissioning/data/LSF/2016preVFP_UL/Efficiency_muon_trackerMuon_Run2016preVFP_UL_ID.histo.json
  src/BTVNanoCommissioning/data/LSF/2017_UL/Efficiency_muon_generalTracks_Run2017_UL_trackerMuon.histo.json
  src/BTVNanoCommissioning/data/LSF/2017_UL/Efficiency_muon_trackerMuon_Run2017_UL_ID.histo.json
  src/BTVNanoCommissioning/data/LSF/2018_UL/Efficiency_muon_generalTracks_Run2018_UL_trackerMuon.histo.json
  src/BTVNanoCommissioning/data/LSF/2018_UL/Efficiency_muon_trackerMuon_Run2018_UL_ID.histo.json
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
  test_env.yml
Labels: CI, runner

feat : fixes on plotting code
  README.md
  plotting/comparison.py
  plotting/plotdataMC.py
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

feat : fixes dr selection, njet & add under/overflow bin
  README.md
  plotting/comparison.py
  plotting/plotdataMC.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: none

fix : fix mc weight scaler & other minor bug fix - plot,utils: change the mcwei implementation - utils: change dr range & bugfix
  plotting/comparison.py
  plotting/plotdataMC.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
Labels: none

feat : minor fixes
  README.md
  plotting/comparison.py
  plotting/plotdataMC.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: none

feat : minor suggestions from Denise
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ttbar_SL_DL_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation_workflow.yml
  README.md
  plotting/comparison.py
  plotting/plotdataMC.py
  setup.cfg
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
Labels: CI

fix: CI python version
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ttbar_SL_DL_workflow.yml
  .github/workflows/validation_workflow.yml
  setup.cfg
Labels: CI

feat: add materials for BTV tutorial & add array output options
  .github/workflows/validation_workflow.yml
  README.md
  filefetcher/fetch.py
  notebooks/BTV_commissiong_tutorial-coffea.ipynb
  plotting/comparison.py
  plotting/plotdataMC.py
  runner.py
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunCD_v1.root
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunE_v1.root
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
  testfile/__pycache__/test_wf.cpython-310.pyc
  testfile/hists_ctag_Wc_sf_VV.coffea
  testfile/hists_ctag_Wc_sf_WJet.coffea
  testfile/hists_ctag_Wc_sf_data_Winter22_mu_BTV_Run3_2022_Comm_v1.coffea
  testfile/hists_ctag_Wc_sf_tt.coffea
Labels: CI, runner

feat : add script for get template&remove redundunt info
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ttbar_DL_workflow.yml
  .github/workflows/ttbar_SL_workflow.yml
  README.md
  filefetcher/UL16APVcheck.txt
  filefetcher/UL16check.txt
  filefetcher/list.txt
  filefetcher/samplesUL16.json
  filefetcher/samplesUL16APV.json
  filefetcher/singlemuon
  notebooks/BTV_commissiong_tutorial-coffea.ipynb
  plotting/comparison.py
  scripts/fetch.py
  scripts/make_template.py
  setup.cfg
  src/BTVNanoCommissioning/data/LSF/2016postVFP_UL/__init__.py
  src/BTVNanoCommissioning/data/LSF/2016preVFP_UL/__init__.py
  src/BTVNanoCommissioning/data/LSF/2017_UL/__init__.py
  src/BTVNanoCommissioning/data/LSF/2018_UL/__init__.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: CI

CI: test removal of dcms role
  .github/workflows/ctag_DY_workflow.yml
Labels: CI

CI: test with workable case with private credential
  .github/workflows/ctag_DY_workflow.yml
Labels: CI

feat : add script for get template&remove redundunt info
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ttbar_DL_workflow.yml
  .github/workflows/ttbar_SL_DL_workflow.yml
  .github/workflows/ttbar_SL_workflow.yml
  README.md
  filefetcher/UL16APVcheck.txt
  filefetcher/UL16check.txt
  filefetcher/list.txt
  filefetcher/samplesUL16.json
  filefetcher/samplesUL16APV.json
  filefetcher/singlemuon
  notebooks/BTV_commissiong_tutorial-coffea.ipynb
  plotting/comparison.py
  scripts/fetch.py
  scripts/make_template.py
  setup.cfg
  src/BTVNanoCommissioning/data/LSF/2016postVFP_UL/__init__.py
  src/BTVNanoCommissioning/data/LSF/2016preVFP_UL/__init__.py
  src/BTVNanoCommissioning/data/LSF/2017_UL/__init__.py
  src/BTVNanoCommissioning/data/LSF/2018_UL/__init__.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: CI

fix : CI with ssh keys
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ttbar_DL_workflow.yml
  .github/workflows/ttbar_SL_workflow.yml
  .gitmodules
  README.md
  runner.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: CI, runner

fix: fix ssh key
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ttbar_DL_workflow.yml
Labels: CI

fix : link to workflow yaml files in README
  README.md
Labels: none

feat : Add BTA workflows
  .github/workflows/BTA_workflow.yml
  README.md
  metadata/test_bta_run3.json
  notebooks/BTA_array_producer.ipynb
  runner.py
  src/BTVNanoCommissioning/helpers/BTA_helper.py
  src/BTVNanoCommissioning/helpers/ParticleTable.csv
  src/BTVNanoCommissioning/helpers/particle2022.csv
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/__init__.py
Labels: CI, runner

feat : implemented JEC in BTA workflow
  README.md
  notebooks/BTA_array_producer.ipynb
  src/BTVNanoCommissioning/data/JME/Summer22EERun3/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/JME/Summer22Run3/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/JME/Summer22Run3/winter_jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/lumiMasks/Cert_Collisions2022_355100_362760_Golden.json
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
Labels: none

feat : implemented JEC in BTA workflow
  README.md
  notebooks/BTA_array_producer.ipynb
  src/BTVNanoCommissioning/data/JME/Summer22EERun3/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/JME/Summer22Run3/Winter22Run3_RunCD_v1.root
  src/BTVNanoCommissioning/data/JME/Summer22Run3/Winter22Run3_RunE_v1.root
  src/BTVNanoCommissioning/data/JME/Summer22Run3/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/JME/Summer22Run3/winter_jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/lumiMasks/Cert_Collisions2022_355100_362760_Golden.json
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
Labels: none

feat : Add jet veto map
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunCD_v1.histo.root
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunE_v1.histo.root
  src/BTVNanoCommissioning/helpers/BTA_helper.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
Labels: none

restruct functions
  notebooks/make_some_plots.ipynb
  scripts/comparison.py
  scripts/make_template.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/helpers/xs_scaler.py
Labels: none

Update setup.cfg to fix plotting scripts paths for CI
  setup.cfg
Labels: none

fix: add --isJERC to BTA CI pipeline
  .github/workflows/BTA_workflow.yml
Labels: CI

feat: Add BTA CI pipeline status to README
  README.md
Labels: none

Update README.md
  README.md
Labels: none

fix: use Summer22EERun3 campaign for BTA workflow (temporary)
  .github/workflows/BTA_workflow.yml
Labels: CI

fix: correct campaign name in runner.py
  runner.py
Labels: runner

Create __init__.py in Summer22EERun3 JERC folder
  src/BTVNanoCommissioning/data/JME/Summer22EERun3/__init__.py
Labels: none

feat: add more variables for BTA & add correction file
  runner.py
  scripts/fetch.py
  src/BTVNanoCommissioning/data/JME/2018_UL/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/JME/Summer22EERun3/__init__.py
  src/BTVNanoCommissioning/data/JME/Summer22Run3/Winter22Run3_RunCD_v1.root
  src/BTVNanoCommissioning/data/JME/Summer22Run3/Winter22Run3_RunE_v1.root
  src/BTVNanoCommissioning/data/JME/Summer22Run3/__init__.py
  src/BTVNanoCommissioning/data/JME/Summer22Run3/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/helpers/BTA_helper.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/example.py
Labels: runner

feat: add more variables for BTA & add correction file (#55)
  scripts/fetch.py
  src/BTVNanoCommissioning/data/JME/2018_UL/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/JME/Summer22Run3/Winter22Run3_RunCD_v1.root
  src/BTVNanoCommissioning/data/JME/Summer22Run3/Winter22Run3_RunE_v1.root
  src/BTVNanoCommissioning/data/JME/Summer22Run3/__init__.py
  src/BTVNanoCommissioning/data/JME/Summer22Run3/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/helpers/BTA_helper.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/example.py
Labels: none

Update ptrel, ratio, ratioRel, and IP calculation
  src/BTVNanoCommissioning/helpers/BTA_helper.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
Labels: none

Update formula
  src/BTVNanoCommissioning/workflows/BTA_producer.py
Labels: none

Fix ptrel formula
  src/BTVNanoCommissioning/helpers/BTA_helper.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
Labels: none

Add track collection to BTA workflow
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/__init__.py
Labels: none

Incorporate Ming-Yan’s comment - correct CI bug - correct fill_none values - add README section for the additional two BTA workflows
  .github/workflows/BTA_workflow.yml
  README.md
  src/BTVNanoCommissioning/workflows/BTA_producer.py
Labels: CI

.github/labeler.yml:

CI:
- .github/workflows/*

core:
- src/BTVNanoCommissioning/*

runner:
- runner.py
