Repository cms-btv-pog/BTVNanoCommissioning, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, core, runner

Add doc for alternative condor_lxplus submitter
  docs/scaleout.md
Labels: none

Lint
  docs/scaleout.md
  runner.py
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: runner

small updates, fix ttbar truth labelling, add CVsNonB label, add Winter24
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

remove debug print
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

small updates, fix ttbar truth labelling, add CVsNonB label, add Wint… (#115)
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

fix: nj counting and remove jec unc for data
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

Add cluster max for bux
  runner.py
Labels: runner

Lint
  runner.py
Labels: runner

fix: store systematic in array option (#113)
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  docs/developer.md
  scripts/fetch.py
  src/BTVNanoCommissioning/utils/array_writer.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/QCD_soft_mu_validation.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: CI

Update condor_lxplus instructions
  condor_lxplus/README.md
  docs/scaleout.md
Labels: none

condor_lxplus: automatic conda env detection
  condor_lxplus/execute.sh
  condor_lxplus/submitter.py
Labels: none

Lint
  condor_lxplus/submitter.py
Labels: none

update BTA ttbar producer
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
Labels: none

fix dump_dataset in dump_processed.py
  scripts/dump_processed.py
Labels: none

An additional slimmer lxplus condor submitter (#112)
  condor_lxplus/README.md
  condor_lxplus/execute.sh
  condor_lxplus/submitter.py
  docs/scaleout.md
  runner.py
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: runner

Add selection modifier noMuVeto for W+c mu and tt mu channels; necessary for c-tag CFM
  scripts/dohadd.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
Labels: none

Lint
  scripts/dohadd.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
Labels: none

fixing pt range of fixed WP histos
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

Updated unfo for JECs in Summer23BPix campaing
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

Fix lumi calculation (keep pairing of runs and lumisections while sorting)
  scripts/dump_processed.py
Labels: none

Fix brackets in ctag_Wc workflow (genflavor and smflav definition)
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
Labels: none

Fix lumi calculation (keep pairing of runs and lumisections while sorting) (#119)
  scripts/dump_processed.py
Labels: none

hotfix: fixing pt range of fixed WP histos (#118)
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

fix dump_dataset in dump_processed.py (#116)
  scripts/dump_processed.py
Labels: none

Fix brackets in ctag_Wc workflow (genflavor and smflav definition) (#120)
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
Labels: none

Lint
  scripts/dohadd.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
Labels: none

Add selection modifier noMuVeto for W+c mu and tt mu channels; necessary for c-tag CFM
  scripts/dohadd.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
Labels: none

fix: Empty output if --noHist in runner
  src/BTVNanoCommissioning/workflows/QCD_soft_mu_validation.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: none

chore: address linting errors
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
Labels: none

chore: address linting errors
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
Labels: none

chore: address linting
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
Labels: none

fix: wrong variable in softmu iso
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
Labels: none

fix: address linting
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
Labels: none

fix: mistake in syntax
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
Labels: none

feat: add dijet_producer
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/qgtag_dijet_producer.py
Labels: none

refactor: fixing problems in failed files list population in dump_processed.py
  scripts/dump_processed.py
Labels: none

Add warning for condor_lxplus on eos
  condor_lxplus/submitter.py
Labels: none

Minor fix
  condor_lxplus/submitter.py
Labels: none

feat: add selection modifier, fix bugs
  src/BTVNanoCommissioning/workflows/qgtag_dijet_producer.py
Labels: none

Add warning
  condor_lxplus/submitter.py
Labels: none

.github/labeler.yml:

CI:
- .github/workflows/*

core:
- src/BTVNanoCommissioning/*

runner:
- runner.py
