Repository cms-btv-pog/BTVNanoCommissioning, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, core, runner

.github/labeler.yml:

CI:
- .github/workflows/*

core:
- src/BTVNanoCommissioning/*

runner:
- runner.py

update corrections and reweighting
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
Labels: none

chore: qg metadata
  metadata/Summer24/MC_Summer24_2024_QG_DY.json
  metadata/Summer24/MC_Summer24_2024_QG_dijet.json
  metadata/Summer24/MC_Summer24_2024_QG_photonjet.json
  metadata/Summer24/data_Summer24_2024_QG_DY.json
  metadata/Summer24/data_Summer24_2024_QG_dijet.json
  metadata/Summer24/data_Summer24_2024_QG_photonjet.json
  metadata/Summer24/minor_MC_Summer24_2024_QG_DY.json
Labels: none

chore: qg psweights
  scripts/dump_prescale.py
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_DiPFJetAve140_run378985_386951.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_DiPFJetAve200_run378985_386951.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_DiPFJetAve260_run378985_386951.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_DiPFJetAve320_run378985_386951.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_DiPFJetAve400_run378985_386951.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_DiPFJetAve40_run378985_386951.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_DiPFJetAve500_run378985_386951.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_DiPFJetAve60_run378985_386951.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_DiPFJetAve80_run378985_386951.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_ZeroBias_run378985_379154.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_ZeroBias_run378985_381065.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_ZeroBias_run378985_386951.csv
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve140_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve200_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve260_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve320_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve400_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve40_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve500_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve60_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve80_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_ZeroBias_run378985_386951.json
Labels: none

chore: format
  scripts/fetch.py
Labels: none

QG QoL+fixes (#196)
  .gitignore
  runner.py
  scripts/dump_prescale.py
  scripts/fetch.py
  src/BTVNanoCommissioning/utils/array_writer.py
  src/BTVNanoCommissioning/utils/selection.py
Labels: runner

add split JES and unclustered MET uncertainties
  runner.py
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
Labels: runner

delete extra line
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

working version
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: none

change syst options
  condor/submitter.py
Labels: none

add reweighting to all workflows
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  condor/submitter.py
  docs/developer.md
  docs/user.md
  runner.py
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/DY_sfl.py
  src/BTVNanoCommissioning/workflows/QCD_soft_mu_validation.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/sf_ttdilep_kin.py
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: CI, runner

delete jsonpog-integration line
  runner.py
Labels: runner

run linter
  condor/submitter.py
  runner.py
  scripts/fetch.py
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: runner

forgot to import reweighting method
  src/BTVNanoCommissioning/workflows/DY_sfl.py
Labels: none

update black version to pass linter check
  scripts/fetch.py
  setup.cfg
Labels: none

save changes
  condor/submitter.py
  runner.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: runner

change reweighting
  src/BTVNanoCommissioning/workflows/_2D_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/_2D_ttsemilep_valid_sf.py
Labels: none

remove jsonpog-integration
  .github/workflows/python_linting.yml
Labels: CI

remove jsonpgo-integration
  condor/submitter.py
Labels: none

uncaught merge errors
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

add deleted file back
  src/BTVNanoCommissioning/data/JME/Summer23/jec_compiled_V1_AK4PFPuppi.pkl.gz
Labels: none

minor edit
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: none

minor typos and delete extra file
  .gitignore
  condor_lxplus/submitter.py
  docs/installation.md
  scripts/dump_processed.py
  setup.cfg
  src/BTVNanoCommissioning/data/EGM/Summer24/electron.json.gz
  src/BTVNanoCommissioning/helpers/func.py
Labels: none

run linter again
  condor/submitter.py
Labels: none

delete extra line
  .gitignore
Labels: none

Update corrections, uncertainties, and sumw reweighting (#200)
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/python_linting.yml
  .github/workflows/ttbar_workflow.yml
  condor/submitter.py
  condor_lxplus/submitter.py
  docs/developer.md
  docs/installation.md
  docs/user.md
  runner.py
  scripts/dump_processed.py
  setup.cfg
  src/BTVNanoCommissioning/data/EGM/Summer24/electron.json.gz
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/DY_sfl.py
  src/BTVNanoCommissioning/workflows/QCD_soft_mu_validation.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/sf_ttdilep_kin.py
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: CI, runner

add protection for empty files to ttbar kinfit
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/workflows/sf_ttdilep_kin.py
Labels: none

remove jsonpog integration
  scripts/maketar.py
Labels: none

add muon recommendations
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

chore: default inputs
  condor/submitter.py
Labels: none

fix: use voms proxy if given as input
  condor_lxplus/submitter.py
Labels: none

change to Winter25 and not Prompt25
  src/BTVNanoCommissioning/helpers/func.py
Labels: none

more fixes and add muon corrections
  src/BTVNanoCommissioning/data/MUO/Run3-25Prompt-Summer24-NanoAODv15/latest/muon_Z.json.gz
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

change name to Prompt25
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

add syst in
  src/BTVNanoCommissioning/utils/histogramming/histogrammer.py
Labels: none

feat: update condor_lxplus submitter
  condor_lxplus/execute.sh
  condor_lxplus/submitter.py
Labels: none

Add Prompt25 campaign support (#199)
  src/BTVNanoCommissioning/data/MUO/Run3-25Prompt-Summer24-NanoAODv15/latest/muon_Z.json.gz
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/sf_ttdilep_kin.py
Labels: none

chore: update dijet workflow to work with new reweighting
  src/BTVNanoCommissioning/workflows/dijet.py
Labels: none

chore: update QG workflows for new weighting
  src/BTVNanoCommissioning/workflows/dijet.py
  src/BTVNanoCommissioning/workflows/photonjet.py
Labels: none

missing renames from Winter25 to Prompt25
  src/BTVNanoCommissioning/data/LUM/Prompt25/puWeights2025.json.gz
  src/BTVNanoCommissioning/utils/selection.py
Labels: none

small bug fixes to correction
  src/BTVNanoCommissioning/utils/correction.py
Labels: none
