Repository cms-btv-pog/BTVNanoCommissioning, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, core, runner

feat: add Winter24
  metadata/MC_Winter24_MC_NanoAODv13.json
  metadata/data_Winter24_emu_NanoAODv13.json
  metadata/data_Winter24_mu_NanoAODv13.json
  src/BTVNanoCommissioning/data/lumiMasks/Cert_Collisions2024_378981_381594_Golden.json
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

feat : automation
  condor/execute.sh
  condor/submitter.py
  runner.py
  scripts/comparison.py
  scripts/dump_prescale.py
  scripts/dump_processed.py
  scripts/fetch.py
  scripts/index.php
  scripts/plotdataMC.py
  scripts/suball.py
  setup.cfg
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/utils/array_writer.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
  src/BTVNanoCommissioning/workflows/QCD_soft_mu_validation.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
  test_env.yml
Labels: runner

feat: add ci & wp from jsonpog
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
  runner.py
  src/BTVNanoCommissioning/utils/array_writer.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
Labels: CI, runner

fix: rename campaign, years and clean up JEC modules
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .gitlab-ci.yml
  README.md
  scripts/fetch.py
  scripts/suball.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/compile_jec.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
  src/BTVNanoCommissioning/workflows/QCD_soft_mu_validation.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: CI

fix: declare arguments before reference
  condor/execute.sh
Labels: none

fix: correction
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

bug fix: correction (#109)
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

Fix small bug in --isArray mode
  src/BTVNanoCommissioning/data/JME/2022_Summer22/Winter22Run3_RunCD_v1.histo.root
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

doc: add the documentation of CommFW
  .gitignore
  README.md
  docs/api.rst
  docs/auto.md
  docs/conf.py
  docs/developer.md
  docs/figs/btv_wf.png
  docs/figs/comm_wf.png
  docs/figs/sf_new.png
  docs/figs/sf_old.png
  docs/index.md
  docs/index.rst
  docs/installation.md
  docs/requirements.in
  docs/requirements.txt
  docs/run.md
  docs/scaleout.md
  docs/scripts.md
  docs/structure.md
  docs/usage.rst
  docs/user.md
  docs/wf.md
  scripts/fetch.py
  scripts/suball.py
  setup.cfg
  src/BTVNanoCommissioning/helpers/BTA_helper.py
  src/BTVNanoCommissioning/helpers/cTagSFReader.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/workflows/example.py
  test_env.yml
Labels: none

Linting
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

Add latest 2022 veto maps (summer22 instead of winter22)
  src/BTVNanoCommissioning/data/JME/2022_Summer22/Summer22_23Sep2023_RunCD_v1.root
  src/BTVNanoCommissioning/data/JME/2022_Summer22/Winter22Run3_RunCD_v1.histo.root
  src/BTVNanoCommissioning/data/JME/2022_Summer22EE/Summer22EE_23Sep2023_RunEFG_v1.root
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

feat: add JEC/jetveto with files in jsonpog-intergration
  .gitmodules
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

fix typo in suball script
  scripts/suball.py
Labels: none

change to nodefaults channels to avoid dependency on anacond for enterprises
  test_env.yml
Labels: none

add sum of weights for variations in BTA_ttbar, make basepath configurable
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
Labels: none

add protection if lhe and ps scale weights are not present in BTA_ttbar workflow
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
Labels: none

also transfer files without events for correctly keeping track of sum of weights for BTA_ttbar workflow
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
Labels: none

Fix 2022 veto maps
  src/BTVNanoCommissioning/data/JME/2022_Summer22/Summer22_23Sep2023_RunCD_v1.root
  src/BTVNanoCommissioning/data/JME/2022_Summer22EE/Summer22EE_23Sep2023_RunEFG_v1.root
Labels: none

doc: improve plot description
  docs/_static/figs/example_jetpt.png
  docs/_static/figs/example_rebin2_jetpt.png
  docs/_static/figs/example_rebin_jetpt.png
  docs/_static/figs/example_sample_jetpt.png
  docs/_static/figs/example_samplesplit_jetpt.png
  docs/auto.md
  docs/developer.md
  docs/index.md
  docs/run.md
  docs/scaleout.md
  docs/scripts.md
  docs/structure.md
  docs/user.md
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: none

doc: add correction description
  docs/api.rst
  docs/structure.md
Labels: none

add default gen unc.
  docs/scripts.md
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

fix: JEC unc
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/QCD_soft_mu_validation.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: none

fix: uncertainties
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
Labels: none

add white/black list to suball
  scripts/suball.py
Labels: none

fix: add uncertainties & JECs
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
Labels: none

Fix small bug in --isArray mode (#110)
  src/BTVNanoCommissioning/data/JME/2022_Summer22/Summer22_23Sep2023_RunCD_v1.root
  src/BTVNanoCommissioning/data/JME/2022_Summer22EE/Summer22EE_23Sep2023_RunEFG_v1.root
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

pre merge master
  scripts/fetch.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
Labels: none

Slimmer lxplus condor setup
  condor_lxplus/execute.sh
  condor_lxplus/execute_original.sh
  condor_lxplus/submitter.py
  runner.py
Labels: runner

Remove old condor executor
  condor_lxplus/execute_original.sh
Labels: none

Minor fix
  condor_lxplus/submitter.py
Labels: none

Minor bug fix in path
  condor_lxplus/submitter.py
Labels: none

Add readme for light condor_lxplus script
  condor_lxplus/README.md
Labels: none

Update readme for light condor_lxplus script
  condor_lxplus/README.md
Labels: none

fix: add weight variation for array option
  docs/developer.md
  scripts/fetch.py
  src/BTVNanoCommissioning/utils/array_writer.py
  src/BTVNanoCommissioning/workflows/QCD_soft_mu_validation.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: none

ci: change default option
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
Labels: CI

fix: to submit from eos
  condor_lxplus/submitter.py
Labels: none

fix: declare arguments before reference (#108)
  condor/execute.sh
Labels: none

update BTA_ttbar producer
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
Labels: none

fix: read njet
  src/BTVNanoCommissioning/utils/array_writer.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/QCD_soft_mu_validation.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: none

Fix parent outputdir in runner
  runner.py
Labels: runner

.github/labeler.yml:

CI:
- .github/workflows/*

core:
- src/BTVNanoCommissioning/*

runner:
- runner.py
