Repository cms-btv-pog/BTVNanoCommissioning, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, core, runner

.github/labeler.yml:

CI:
- .github/workflows/*

core:
- src/BTVNanoCommissioning/*

runner:
- runner.py

Reconstruct JP calculation in columnar operations
  src/BTVNanoCommissioning/data/JPCalib/Summer22EERun3/calibeHistoWrite_Data2022F_NANO130X_v1.root
  src/BTVNanoCommissioning/data/JPCalib/Summer22EERun3/calibeHistoWrite_Data2022G_NANO130X_v1.root
  src/BTVNanoCommissioning/data/JPCalib/Summer22EERun3/calibeHistoWrite_MC2022EE_NANO130X_v1.root
  src/BTVNanoCommissioning/data/JPCalib/Summer22Run3/calibeHistoWrite_Data2022F_NANO130X_v1.root
  src/BTVNanoCommissioning/data/JPCalib/Summer22Run3/calibeHistoWrite_Data2022G_NANO130X_v1.root
  src/BTVNanoCommissioning/data/JPCalib/Summer22Run3/calibeHistoWrite_MC2022EE_NANO130X_v1.root
  src/BTVNanoCommissioning/helpers/BTA_helper.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
Labels: none

Put JPCalibHandler to utils.correction
  src/BTVNanoCommissioning/helpers/BTA_helper.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
Labels: none

Clean up
  src/BTVNanoCommissioning/helpers/BTA_helper.py
Labels: none

JP tagger recalculation (#77)
  metadata/test_bta_run3.json
  src/BTVNanoCommissioning/data/JPCalib/Summer22EERun3/calibeHistoWrite_Data2022F_NANO130X_v1.root
  src/BTVNanoCommissioning/data/JPCalib/Summer22EERun3/calibeHistoWrite_Data2022G_NANO130X_v1.root
  src/BTVNanoCommissioning/data/JPCalib/Summer22EERun3/calibeHistoWrite_MC2022EE_NANO130X_v1.root
  src/BTVNanoCommissioning/data/JPCalib/Summer22Run3/calibeHistoWrite_Data2022F_NANO130X_v1.root
  src/BTVNanoCommissioning/data/JPCalib/Summer22Run3/calibeHistoWrite_Data2022G_NANO130X_v1.root
  src/BTVNanoCommissioning/data/JPCalib/Summer22Run3/calibeHistoWrite_MC2022EE_NANO130X_v1.root
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
Labels: none

feat: add features for plotting scripts
  README.md
  scripts/comparison.py
  scripts/fetch.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

fix: add only for standalone condor& plot code
  condor/submitter.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
Labels: none

[run array] ci: customize ci , fix bugs in workflow
  .github/workflows/BTA_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ttbar_DL_workflow.yml
  .github/workflows/ttbar_SL_workflow.yml
  README.md
  metadata/test_bta_run3.json
  src/BTVNanoCommissioning/data/JPCalib/Summer22EERun3/calibeHistoWrite_Data2022E_NANO130X_v1.root
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: CI

Fix compatibility with Nanov12, changes to --only
  runner.py
  scripts/fetch.py
  src/BTVNanoCommissioning/helpers/update_branch.py
Labels: runner

[run array] ci: customize ci , fix bugs in workflow
  .github/workflows/BTA_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ttbar_DL_workflow.yml
  .github/workflows/ttbar_SL_workflow.yml
  README.md
  condor/execute.sh
  metadata/test_bta_run3.json
  src/BTVNanoCommissioning/data/JPCalib/Summer22EERun3/calibeHistoWrite_Data2022E_NANO130X_v1.root
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: CI

Fixing Summer22/EE PU files
  src/BTVNanoCommissioning/data/PU/Summer22EERun3/puweight_Summer22EERun3-69p2mb.histo.root
  src/BTVNanoCommissioning/data/PU/Summer22Run3/puweight_Winter22Run3-80p0mb.histo.root
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

Fixing file handling
  condor/execute.sh
  runner.py
  scripts/fetch.py
Labels: runner

Switch back PU files
  src/BTVNanoCommissioning/data/PU/Summer22EERun3/puweight_Summer22EERun3-80p0mb.histo.root
  src/BTVNanoCommissioning/data/PU/Summer22Run3/puweight_Winter22Run3-69p2mb.histo.root
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

Fix output dir
  runner.py
Labels: runner

Fix xrdcp
  condor/execute.sh
Labels: none

fix: merge Spandan's dev ci:skip syst
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  condor/execute.sh
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/data/JME/Summer22Run3/compile_F.pkl.gz
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
Labels: CI

[run array] ci: customize ci , fix bugs in workflow
  .github/workflows/BTA_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_SL_workflow.yml
  .github/workflows/ttbar_workflow.yml
  README.md
  condor/execute.sh
  metadata/test_bta_run3.json
  runner.py
  scripts/fetch.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/data/JME/Summer22Run3/compile_F.pkl.gz
  src/BTVNanoCommissioning/data/JPCalib/Summer22EERun3/calibeHistoWrite_Data2022E_NANO130X_v1.root
  src/BTVNanoCommissioning/data/PU/Summer22EERun3/puweight_Summer22EERun3-80p0mb.histo.root
  src/BTVNanoCommissioning/data/PU/Summer22Run3/puweight_Winter22Run3-69p2mb.histo.root
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: CI, runner

fix : add nested directory for output & fix fetch printout messages
  condor/execute.sh
Labels: none

fix: change default ci, minor bugs ci:skip syst
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  README.md
  condor/execute.sh
  src/BTVNanoCommissioning/helpers/update_branch.py
Labels: CI

QCD Pt binned samples for QCD workflow
  metadata/QCD_Pt_samples.json
Labels: none

Data samples for QCD workflow
  metadata/JetHT.json
Labels: none

Update xsection.py
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

Update xsection.py
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

add QCD workflow selection
  src/BTVNanoCommissioning/utils/selection.py
Labels: none

add UL18 files for QCD
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

All xsec updated now
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/helpers/xsection_13TeV.py
Labels: none

all xsec updated
  src/BTVNanoCommissioning/helpers/xsection_13TeV.py
Labels: none

WW,ZZ and WZ reverted to correct value from 13TeV
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

fix: Update xsection.py
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/helpers/xsection_13TeV.py
Labels: none

add histograms for QCD workflow
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

PU weights for QCD workflow
  src/BTVNanoCommissioning/data/PU/2018_UL/__init__.py
  src/BTVNanoCommissioning/data/PU/2018_UL/puweight_2018_UL.HLTPFJet140.histo.root
  src/BTVNanoCommissioning/data/PU/2018_UL/puweight_2018_UL.HLTPFJet40.histo.root
Labels: none

HLT_PFJet140 prescales
  src/BTVNanoCommissioning/data/Prescales/ps_weight_JSON_PFJet140.json
Labels: none

add variables for QCD workflow
  src/BTVNanoCommissioning/helpers/definitions.py
Labels: none

add QCD Pt binned samples xsection
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

bug: ttbar all hadronic, semileptonic switch
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

QCD workflow, need debug
  src/BTVNanoCommissioning/workflows/QCD_validation.py
Labels: none

add QCD workflow
  src/BTVNanoCommissioning/workflows/__init__.py
Labels: none

add QCD plotting
  scripts/plotdataMC.py
Labels: none

prescales for HLT_PFJet140
  ps_weight_JSON_PFJet140.json
Labels: none

script to prepare json file for prescales
  prescales.ipynb
Labels: none

csv file contains HLT_PFJet140 prescales information
  src/BTVNanoCommissioning/data/Prescales/Prescales_PFJet140.csv
Labels: none
