Repository cms-btv-pog/BTVNanoCommissioning, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, core, runner

feat: add photon ps trigger weights for 2023
  src/BTVNanoCommissioning/data/Prescales/ps_weight_Photon110EB_TightID_TightIso_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_Photon200_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_Photon20_HoverELoose_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_Photon30EB_TightID_TightIso_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_Photon50_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_Photon75_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_Photon90_run366727_370790.json
Labels: none

fix: include "hltpath/prescval" for monitoring in dump_prescale
  scripts/dump_prescale.py
Labels: none

feat: gammajet samples and cross sections
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/sample.py
Labels: none

fix: update workflow
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/qgtag_photonjet_producer.py
Labels: none

fix: correct jec version for 23BPix
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

fix: correction.py from master
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

feat: photon datasets
  metadata/Summer23BPix/MC_Summer23BPix_2023_qgtag_photonjet.json
  metadata/Summer23BPix/data_Summer23BPix_2023_qgtag_photonjet.json
Labels: none

fix: update 2023 JME corrections
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

fix: correct xsecs
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

feat: plotting for photon+jets
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: none

Update test_env.yml
  test_env.yml
Labels: none

feat: Add cross-sections for HT-binned QCD samples (#163)
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

Update test_env.yml (#165)
  test_env.yml
Labels: none

feat: update ph samples and histograms
  metadata/Summer23BPix/MC_Summer23BPix_2023_qgtag_photonjet.json
  metadata/Summer23BPix/MC_Summer23BPix_2023_qgtag_photonjet_ht.json
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/workflows/qgtag_photonjet_producer.py
Labels: none

chore: add PT binned hists to dijet workflow
  src/BTVNanoCommissioning/utils/sample.py
Labels: none

feat: update trigger selections
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/qgtag_dijet_producer.py
Labels: none

fix: correct process() in dijets
  src/BTVNanoCommissioning/workflows/qgtag_dijet_producer.py
Labels: none

chore: test jsons for 23Bpix
  metadata/Summer23BPix/MC_Summer23BPix_2023_qgtag_dijet.json
  metadata/Summer23BPix/data_Summer23BPix_2023_qgtag_dijet.json
Labels: none

feat: add 3D hist
  src/BTVNanoCommissioning/utils/histogramming/histograms/qgtag.py
Labels: none

fix: correct line for trig_req
  src/BTVNanoCommissioning/workflows/qgtag_dijet_producer.py
Labels: none

chore: lint and update other qg workflows
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogramming/axes/qgtag.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/qgtag.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/qgtag_dijet_producer.py
  src/BTVNanoCommissioning/workflows/qgtag_photonjet_producer.py
Labels: none

fix: add missing QCD xsec
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

fix: correct handling of sumw
  src/BTVNanoCommissioning/utils/histogramming/histograms/qgtag.py
  src/BTVNanoCommissioning/workflows/qgtag_dijet_producer.py
Labels: none

fix: ignore other outputs in histogramming
  src/BTVNanoCommissioning/utils/histogramming/histograms/qgtag.py
Labels: none

chore: clean away debug prints
  src/BTVNanoCommissioning/workflows/qgtag_dijet_producer.py
Labels: none

Modified xsection, selection and sample for 2024 DY sample
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/DY_sfl.py
Labels: none

site_maps updated
  .sites_map.json
Labels: none

fix: correct casting of weights and flavour labels
  src/BTVNanoCommissioning/utils/histogramming/histograms/qgtag.py
Labels: none

Refactorize histogrammer (#161)
  README.md
  scripts/2Dhistograms.py
  scripts/comparison.py
  scripts/correlation_plots.py
  scripts/plotdataMC.py
  scripts/validation_plot.py
  src/BTVNanoCommissioning/helpers/definition_vars/deepcsv.py
  src/BTVNanoCommissioning/helpers/definition_vars/deepjet.py
  src/BTVNanoCommissioning/helpers/definition_vars/pfcands.py
  src/BTVNanoCommissioning/helpers/definition_vars/sv.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/histogramming/axes/common.py
  src/BTVNanoCommissioning/utils/histogramming/hist_helpers.py
  src/BTVNanoCommissioning/utils/histogramming/histogrammer.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/common.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/ctag_ttdilep.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/ctag_ttsemilep.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/dy.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/example.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/fourvec.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/qcd.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/qcd_smu.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/ttdilep.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/ttdilep_kin.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/ttsemilep.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/validation.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/wc.py
  src/BTVNanoCommissioning/workflows/QCD_soft_mu_validation.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/sf_ttdilep_kin.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: none

fix typo in correction
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

fix: updates to qg hists and dijet sel
  runner.py
  scripts/dump_prescale.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/qgtag.py
  src/BTVNanoCommissioning/workflows/qgtag_dijet_producer.py
Labels: runner

chore: nano metadata jsons
  metadata/Summer23BPix/MC_Summer23BPix_2023_gjets_Nano_Run3_2023_Comm_MINIAODv4_NanoV12.json
  metadata/Summer23BPix/MC_Summer23BPix_2023_qcd_Nano_Run3_2022_Comm_MINIAODv4_NanoV12.json
  metadata/Summer23BPix/data_Summer23BPix_2023_egm_Nano_Run3_2023_Comm_MINIAODv4_NanoV12.json
  metadata/Summer23BPix/data_Summer23BPix_2023_jetmet_zb_Nano_Run3_2023_Comm_MINIAODv4_NanoV12.json
Labels: none

fix: correct handling of leading muon in DY
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
Labels: none

feat: add QG CI/CD
  .github/workflows/qgtag_workflow.yml
Labels: CI

chore: update histogramming info in docs + language
  docs/developer.md
  docs/scripts.md
  docs/user.md
  notebooks/BTV_commissioning_tutorial-coffea.ipynb
Labels: none

add sample for tnp ttbar
  src/BTVNanoCommissioning/utils/sample.py
Labels: none

update ttbar tag and probe workflow
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

fix bug in workflow ttbar tnp
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

chore: update histogramming info in docs + language (#166)
  docs/developer.md
  docs/scripts.md
  docs/user.md
  notebooks/BTV_commissioning_tutorial-coffea.ipynb
Labels: none

clean up helpers
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/utils/selection.py
Labels: none

.github/labeler.yml:

CI:
- .github/workflows/*

core:
- src/BTVNanoCommissioning/*

runner:
- runner.py
