Repository cms-btv-pog/BTVNanoCommissioning, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, core, runner

.github/labeler.yml:

CI:
- .github/workflows/*

core:
- src/BTVNanoCommissioning/*

runner:
- runner.py

black reformat
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

add skip statement to plotting script to avoid histograms with too many axes
  scripts/plotdataMC.py
Labels: none

feat: update dijet for Summer24
  condor_lxplus/submitter.py
  metadata/Summer24/MC_Summer24_2024_qgtag_dijet.json
  metadata/Summer24/data_Summer24_2024_qgtag_dijet.json
  metadata/Summer24/data_Summer24_2024_qgtag_dijet_CDE.json
  metadata/Summer24/data_Summer24_2024_qgtag_dijet_F.json
  metadata/Summer24/data_Summer24_2024_qgtag_dijet_G.json
  metadata/Summer24/data_Summer24_2024_qgtag_dijet_HI.json
  metadata/Summer24/data_Summer24_2024_qgtag_dijet_full.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve100_HFJEC_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve140_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve160_HFJEC_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve200_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve220_HFJEC_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve260_HFJEC_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve260_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve300_HFJEC_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve320_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve400_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve40_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve500_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve60_HFJEC_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve60_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve80_HFJEC_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_DiPFJetAve80_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet110_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet140_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet200_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet260_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet320_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet400_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet40_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet450_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet500_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet550_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet60_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet80_run378985_386951.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_ZeroBias_run378985_386951.json
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/workflows/qgtag_dijet_producer.py
Labels: none

fix: var names in comparison.py
  scripts/comparison.py
Labels: none

fix: create output with lxplus submitter
  condor_lxplus/submitter.py
Labels: none

feat: add a script to combine outputs of condor_lxplus
  scripts/combine_coffea.py
Labels: none

chore: more qcd xsecs
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

fix: minor improvements to dijet sel
  src/BTVNanoCommissioning/workflows/qgtag_dijet_producer.py
Labels: none

fix: correct flavour axis
  src/BTVNanoCommissioning/utils/histogramming/histograms/qgtag.py
Labels: none

fix: include PFJet500 selection
  src/BTVNanoCommissioning/workflows/__init__.py
Labels: none

chore: more sample files
  metadata/Summer24/MC_Summer24_2024_qgtag_dijet_lowHT.json
  metadata/Summer24/data_Summer24_2024_qgtag_dijet_HI_nozb.json
  metadata/Summer24/data_Summer24_2024_qgtag_dijet_H_zb.json
Labels: none

Create sfmodule.md
  docs/sfmodule.md
Labels: none

small update to ttbar kin workflow
  src/BTVNanoCommissioning/workflows/sf_ttdilep_kin.py
Labels: none

small update to ttbar kin workflow (#168)
  src/BTVNanoCommissioning/workflows/sf_ttdilep_kin.py
Labels: none

Updating wiki for the tutorial
  docs/user.md
Labels: none

Ran black for linting
  runner.py
  scripts/fetch.py
  scripts/plotdataMC.py
  scripts/suball.py
Labels: runner

Subtle change to BRIL instructions
  docs/user.md
Labels: none

Adding the tools for tutorial on BTV Commissioning (#169)
  docs/user.md
  runner.py
  scripts/fetch.py
  scripts/plotdataMC.py
  scripts/suball.py
Labels: runner

Update sfmodule.md
  docs/sfmodule.md
Labels: none

add npv distribution
  src/BTVNanoCommissioning/utils/histogramming/histogrammer.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/common.py
Labels: none

black
  src/BTVNanoCommissioning/utils/histogramming/histograms/common.py
Labels: none

Create sfmodule.md (#167)
  docs/sfmodule.md
Labels: none

add npv distribution (#170)
  src/BTVNanoCommissioning/utils/histogramming/histogrammer.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/common.py
Labels: none

add sfmodule to docs
  docs/index.md
  docs/sfmodule.md
  docs/user.md
Labels: none

Add SF modules to index sidebar + fix typo (#171)
  docs/index.md
  docs/sfmodule.md
  docs/user.md
Labels: none

Fixed instruction bugs
  docs/installation.md
  docs/user.md
Labels: none

Fixing the minor instructions issue
  docs/installation.md
  docs/user.md
Labels: none

fix: Fixing the minor instructions issue (#173)
  docs/installation.md
  docs/user.md
Labels: none

Update scripts
  .gitignore
  scripts/plotdataMC.py
  scripts/qg3d_plots.py
  scripts/qghelpers.py
  src/BTVNanoCommissioning/utils/histogramming/axes/qgtag.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/qgtag.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/qgtag_dijet_producer.py
  src/BTVNanoCommissioning/workflows/qgtag_photonjet_producer.py
Labels: none

fix: updated correction file paths
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
  runner.py
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: CI, runner

Update sf_ttsemilep_tnp.py
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

chore: script and metadata updates
  scripts/qg3d_plots.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/qgtag_dijet_producer.py
Labels: none

My fix from pr155 (#176)
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

fix: some fixes
  runner.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/qgtag_dijet_producer.py
Labels: runner

Increased Ele and Mu pT cut, added gluon to flavor.
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/workflows/DY_sfl.py
Labels: none

add fix for runner
  runner.py
Labels: runner

2024 muonSS now available
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

Fix electron smear down calculation in correction.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

Update the electronSS names
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

adjust electron pt limits and fix typo
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
Labels: none
