Repository cms-btv-pog/BTVNanoCommissioning, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, core, runner

add ttbar systematic weight uncertainties
  runner.py
  setup.cfg
  src/BTVNanoCommissioning/data/LUM/Prompt25/__init__.py
  src/BTVNanoCommissioning/data/LUM/__init__.py
  src/BTVNanoCommissioning/data/TTBAR_REWEIGHT/__init__.py
  src/BTVNanoCommissioning/data/TTBAR_REWEIGHT/frag_decay/PythiaBRs.txt
  src/BTVNanoCommissioning/data/TTBAR_REWEIGHT/frag_decay/__init__.py
  src/BTVNanoCommissioning/data/TTBAR_REWEIGHT/frag_decay/bdecayweights.root
  src/BTVNanoCommissioning/data/TTBAR_REWEIGHT/frag_decay/bfragweights.root
  src/BTVNanoCommissioning/data/TTBAR_REWEIGHT/frag_decay/bfragweights_vs_pt.root
  src/BTVNanoCommissioning/data/TTBAR_REWEIGHT/frag_decay/cdecayweights.root
  src/BTVNanoCommissioning/data/TTBAR_REWEIGHT/frag_decay/cfragweights.root
  src/BTVNanoCommissioning/data/TTBAR_REWEIGHT/frag_decay/cfragweights_vs_pt.root
  src/BTVNanoCommissioning/data/TTBAR_REWEIGHT/hdamp_ml/__init__.py
  src/BTVNanoCommissioning/data/TTBAR_REWEIGHT/hdamp_ml/mymodel12_hdamp_down_13.6TeV.onnx
  src/BTVNanoCommissioning/data/TTBAR_REWEIGHT/hdamp_ml/mymodel12_hdamp_down_13TeV.onnx
  src/BTVNanoCommissioning/data/TTBAR_REWEIGHT/hdamp_ml/mymodel12_hdamp_up_13.6TeV.onnx
  src/BTVNanoCommissioning/data/TTBAR_REWEIGHT/hdamp_ml/mymodel12_hdamp_up_13TeV.onnx
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/DY_sfl.py
  src/BTVNanoCommissioning/workflows/QCD_soft_mu_validation.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/sf_ttdilep_kin.py
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
  test_env.yml
Labels: runner

chore: use iterative exec for 1 thread condor jobs
  condor_lxplus/execute.sh
Labels: none

chore: same argument for CPUs in both condor submitters
  condor_lxplus/submitter.py
Labels: none

chore: lint
  condor_lxplus/submitter.py
  scripts/combine_coffea.py
  scripts/dump_prescale.py
  scripts/fetch.py
  src/BTVNanoCommissioning/utils/histogramming/axes/qgtag.py
Labels: none

refine ttbar mc weights
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

clean up correction.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

clean up
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

Modify framework to enable 2D calibration with PNet and NanoAOD v12
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/_2D_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/_2D_ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
Labels: none

Update JME configurations and fix ele/muSFs for 2022 and 2023 campaigns
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

update 2025 sf
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

small fix in update_branch
  src/BTVNanoCommissioning/helpers/update_branch.py
Labels: none

Update JME configurations and fix ele/muSFs for 2022 and 2023 campaigns
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

change != None to is not None
  scripts/plotdataMC.py
Labels: none

avoid bare except
  scripts/plotdataMC.py
Labels: none

remove unused imports
  scripts/plotdataMC.py
Labels: none

working DY SFl with new JME recommendations
  scripts/fetch.py
  src/BTVNanoCommissioning/helpers/xsection_13TeV.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/xrootdtools.py
Labels: none

trying to make QCD workflow same as in remote
  .github/workflows/QCD_workflow.yml
Labels: CI

revert to QCD_workflows thats on central BTVNanoComm
  .github/workflows/QCD_workflow.yml
Labels: CI

linting
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

style: black formatting for correction.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

Lint
  scripts/fetch.py
Labels: none

Update data-MC and comparison plotting for QG workflows (#216)
  metadata/Summer24/test_MC_Summer24_2024_QG_dijet.json
  metadata/Summer24/test_data_Summer24_2024_QG_dijet.json
  scripts/comparison.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/workflows/dijet.py
Labels: none

Update JME corrections for Run2 in NanoAODv15 (#213)
  src/BTVNanoCommissioning/data/JME/2016postVFP-UL/jet_jerc.json.gz
  src/BTVNanoCommissioning/data/JME/2016preVFP-UL/jet_jerc.json.gz
  src/BTVNanoCommissioning/data/JME/2017-UL/jet_jerc.json.gz
  src/BTVNanoCommissioning/data/JME/2018-UL/jet_jerc.json.gz
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

Update JME configurations and fix ele/muSFs for 2022 and 2023 campaigns (#212)
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

Update 2025 corrections (#211)
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

.github/labeler.yml:

CI:
- .github/workflows/*

core:
- src/BTVNanoCommissioning/*

runner:
- runner.py
