Repository cms-btv-pog/BTVNanoCommissioning, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, core, runner

fix: Wc selection (#97)
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
  .sites_map.json
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  test_env.yml
Labels: CI

fix: fix ci config
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
  src/BTVNanoCommissioning/data/lumiMasks/Cert_Collisions2024_378981_382913_Golden.json
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
Labels: CI

fix: fix ci config (#98)
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
  src/BTVNanoCommissioning/data/lumiMasks/Cert_Collisions2024_378981_382913_Golden.json
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
Labels: CI

Update BTA_workflow.yml
  .github/workflows/BTA_workflow.yml
Labels: CI

Update BTA_workflow.yml
  .github/workflows/BTA_workflow.yml
Labels: CI

fix: ci
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
  README.md
Labels: CI

lxplus condor submission without CMSSW and with mamba
  condor/execute.sh
  condor/submitter.py
Labels: none

feat: lxplus condor submission without CMSSW and with mamba (#99)
  condor/execute.sh
  condor/submitter.py
Labels: none

Added histograms for ctag fixed WP SF
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
Labels: none

restoring plotutils
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: none

Create README.md for test file
  testfile/README.md
Labels: none

doc: init commit
  .readthedocs.yaml
  docs/Makefile
  docs/api.rst
  docs/conf.py
  docs/index.rst
  docs/make.bat
  docs/requirements.in
  docs/requirements.txt
  docs/usage.rst
Labels: none

black reformatting
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
Labels: none

feat: Add new wfs & 2D correlations
  scripts/2Dhistograms.py
  scripts/correlation_plots.py
  src/BTVNanoCommissioning/helpers/definitions_for_corr.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/QCD_soft_mu_validation.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: none

feat: Add new ci
  .github/workflows/QCD_workflow.yml
  .github/workflows/ttbar_workflow.yml
Labels: CI

Fix from comments
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
  README.md
  scripts/2Dhistograms.py
  scripts/correlation_plots.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/QCD_soft_mu_validation.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: CI

feat: Add new ci
  .github/workflows/QCD_workflow.yml
  .github/workflows/ttbar_workflow.yml
Labels: CI

Fix from comments
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
  README.md
  scripts/2Dhistograms.py
  scripts/correlation_plots.py
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_BTagMu_AK4DiJet40_Mu5_run355374_362760.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_BTagMu_AK4DiJet40_Mu5_run366727_370790.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_BTagMu_DiJet40_Mu5_run366727_370790.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet40_run355374_362760.csv
  src/BTVNanoCommissioning/data/Prescales/ps_weight_BTagMu_AK4DiJet40_Mu5_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_BTagMu_AK4DiJet40_Mu5_run366727_370790.json
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/QCD_soft_mu_validation.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: CI

Polishing documentation
  scripts/2Dhistograms.py
  scripts/correlation_plots.py
Labels: none

BTV developments. C_tt_workflow & QCD_soft_mu workflow. QCD studies (#101)
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
  README.md
  scripts/2Dhistograms.py
  scripts/correlation_plots.py
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_BTagMu_AK4DiJet40_Mu5_run355374_362760.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_BTagMu_AK4DiJet40_Mu5_run366727_370790.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_BTagMu_DiJet40_Mu5_run366727_370790.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet40_run355374_362760.csv
  src/BTVNanoCommissioning/data/Prescales/ps_weight_BTagMu_AK4DiJet40_Mu5_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_BTagMu_AK4DiJet40_Mu5_run366727_370790.json
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/definitions_for_corr.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/QCD_soft_mu_validation.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: CI

Fix: remove prints, failed tt_semilep+c
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
  README.md
  src/BTVNanoCommissioning/helpers/definitions_for_corr.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: CI

Fix ci PR test
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
Labels: CI

Fix: remove prints, failed tt_semilep+c (#102)
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
  README.md
  src/BTVNanoCommissioning/helpers/definitions_for_corr.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: CI

feat: add Winter24
  metadata/MC_Winter24_MC_NanoAODv13.json
  metadata/data_Winter24_emu_NanoAODv13.json
  metadata/data_Winter24_mu_NanoAODv13.json
  src/BTVNanoCommissioning/data/lumiMasks/Cert_Collisions2024_378981_381594_Golden.json
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

feat : automation
  .github/workflows/BTA_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  condor/execute.sh
  condor/submitter.py
  runner.py
  scripts/comparison.py
  scripts/dump_prescale.py
  scripts/dump_processed.py
  scripts/fetch.py
  scripts/index.php
  scripts/plotdataMC.py
  scripts/suball.py
  setup.cfg
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/utils/array_writer.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
  src/BTVNanoCommissioning/workflows/QCD_soft_mu_validation.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: CI, runner

feat: add ci & wp from jsonpog
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
  runner.py
  src/BTVNanoCommissioning/utils/array_writer.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
Labels: CI, runner

fix: rename campaign, years and clean up JEC modules
  .github/workflows/QCD_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .gitlab-ci.yml
  README.md
  scripts/fetch.py
  scripts/suball.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/compile_jec.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/BTA_producer.py
  src/BTVNanoCommissioning/workflows/BTA_ttbar_producer.py
  src/BTVNanoCommissioning/workflows/QCD_soft_mu_validation.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/example.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: CI

build: Update .gitignore
  .gitignore
Labels: none

build: Update coffea version
  test_env.yml
Labels: none

ci: Update actions plugin versions
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/python_linting.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
Labels: CI

Adding CI for fixed WP workflow
  .github/workflows/ctag_Wc_workflow.yml
Labels: CI

removing
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
Labels: none

uniform requirement for shape and fixed WP analyses
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
Labels: none

new hist only for cutbased wf
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
Labels: none

fixing pipeline
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
Labels: none

fixing formatting
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
Labels: none

feat: Added histograms for ctag fixed WP SF (#100)
  .github/workflows/ctag_Wc_workflow.yml
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
Labels: CI

feat: Added histograms for ctag fixed WP SF (#100)
  .github/workflows/ctag_Wc_workflow.yml
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
Labels: CI

ci: Update actions plugin versions
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/python_linting.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
Labels: CI

ci: Update actions plugin versions (#104)
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/python_linting.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
Labels: CI

.github/labeler.yml:

CI:
- .github/workflows/*

core:
- src/BTVNanoCommissioning/*

runner:
- runner.py
