Repository cms-btv-pog/BTVNanoCommissioning, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, core, runner

.github/labeler.yml:

CI:
- .github/workflows/*

core:
- src/BTVNanoCommissioning/*

runner:
- runner.py

add single top TW samples
  src/BTVNanoCommissioning/utils/sample.py
Labels: none

broke some workflows
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

Update to fetch and condor_lxplus scripts
  condor_lxplus/README.md
  condor_lxplus/checkoutputs.py
  condor_lxplus/haddoutputs.py
  docs/scaleout.md
  docs/user.md
  scripts/fetch.py
  src/BTVNanoCommissioning/utils/sample.py
Labels: none

Lint
  condor_lxplus/checkoutputs.py
  condor_lxplus/haddoutputs.py
  scripts/fetch.py
  src/BTVNanoCommissioning/utils/sample.py
Labels: none

Add sample to QCD
  src/BTVNanoCommissioning/utils/sample.py
Labels: none

custom hist fill in btag_ttbar_sf
  src/BTVNanoCommissioning/workflows/btag_ttbar_sf.py
Labels: none

Update to fetch and condor_lxplus scripts (#143)
  condor_lxplus/README.md
  condor_lxplus/checkoutputs.py
  condor_lxplus/haddoutputs.py
  docs/scaleout.md
  docs/user.md
  scripts/fetch.py
  src/BTVNanoCommissioning/utils/sample.py
Labels: none

add different names for 2024 samples
  src/BTVNanoCommissioning/utils/sample.py
Labels: none

update workflow
  src/BTVNanoCommissioning/workflows/sf_ttdilep_kin.py
Labels: none

linter
  src/BTVNanoCommissioning/utils/array_writer.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/sf_ttdilep_kin.py
Labels: none

implement full and reduced jes uncertainties
  runner.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: runner

add list of reduced jes uncertainties
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

make xgboost optional
  src/BTVNanoCommissioning/workflows/sf_ttdilep_kin.py
Labels: none

linter
  src/BTVNanoCommissioning/workflows/sf_ttdilep_kin.py
Labels: none

add 2D WP histograms split into pt bins
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/_2D_ttsemilep_valid_sf.py
Labels: none

add 2024 JEC and jet veto maps (#142)
  src/BTVNanoCommissioning/data/JME/2024_Summer24/Summer24Prompt24_RunBCDEFGHI.root
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

skeleton version of tt semilep tag and probe workflow
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/sf_ttsemilep_tnp.py
Labels: none

QCD workflow: correct handling of prescale weights; fixes in dump_prescale
  scripts/dump_prescale.py
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet200_run355374_362760.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet260_run355374_362760.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet40_run355374_355429.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet40_run355374_362760.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet60_run355374_362760.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet80_run355374_362760.csv
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet200_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet260_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet40_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet60_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet80_run355374_362760.json
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
Labels: none

Lint
  scripts/dump_prescale.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
Labels: none

Update 2023 prescales
  scripts/dump_prescale.py
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet200_run355374_362760.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet260_run355374_362760.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet40_run355374_355429.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet40_run355374_362760.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet60_run355374_362760.csv
  src/BTVNanoCommissioning/data/Prescales/HLTinfo_PFJet80_run355374_362760.csv
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet200_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet260_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet40_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet60_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet80_run366727_370790.json
  src/BTVNanoCommissioning/utils/selection.py
Labels: none

Update QCD prescales
  scripts/dump_prescale.py
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet320_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet320_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet400_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet400_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet450_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet450_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet500_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet500_run366727_370790.json
  src/BTVNanoCommissioning/workflows/QCD_validation.py
Labels: none

Undo remove 2024 WPs
  src/BTVNanoCommissioning/utils/selection.py
Labels: none

fix QCD zeros_like bug
  src/BTVNanoCommissioning/workflows/QCD_validation.py
Labels: none

Add workflow for ttbar dilepton kin method (#134)
  src/BTVNanoCommissioning/utils/array_writer.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/sf_ttdilep_kin.py
Labels: none

Add fetch CI
  .github/workflows/fetch.yml
Labels: CI

Replace xrootd site of failed jobs in condor_lxplus scripts; minor updates to fetch, plotdataMC, array_writer, samples
  condor_lxplus/checkoutputs.py
  condor_lxplus/execute.sh
  condor_lxplus/submitter.py
  scripts/fetch.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/utils/array_writer.py
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/utils/xrootdtools.py
Labels: none

Bug fix in xrootd utils, remove fetch CI
  .github/workflows/fetch.yml
  src/BTVNanoCommissioning/utils/xrootdtools.py
Labels: CI

Update lxplus check script
  condor_lxplus/checkoutputs.py
Labels: none

Add BvC, HLvLF and 2D(/pt) to ttdilep, e/ctag_DY, and e/ctag_Wc workflows
  scripts/fetch.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
Labels: none

first commit
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

fix duplicate workflow name
  .github/workflows/fetch.yml
Labels: CI

QCD workflow: correct handling of prescale weights; fixes in dump_prescale (#147)
  scripts/dump_prescale.py
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet200_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet200_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet260_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet260_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet320_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet320_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet400_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet400_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet40_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet40_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet450_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet450_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet500_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet500_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet60_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet60_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet80_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet80_run366727_370790.json
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
Labels: none

delete file
  .github/workflows/fetch.yml
Labels: CI

Revert to d578b1e
  .github/workflows/fetch.yml
  scripts/dump_prescale.py
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet200_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet200_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet260_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet260_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet320_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet320_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet400_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet400_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet40_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet40_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet450_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet450_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet500_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet500_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet60_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet60_run366727_370790.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet80_run355374_362760.json
  src/BTVNanoCommissioning/data/Prescales/ps_weight_PFJet80_run366727_370790.json
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/QCD_validation.py
Labels: CI

pull a non-broken CI
  src/BTVNanoCommissioning/utils/array_writer.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/sf_ttdilep_kin.py
Labels: none

merge working pipeline
  src/BTVNanoCommissioning/utils/array_writer.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/sf_ttdilep_kin.py
Labels: none

Replace xrootd site of failed jobs in condor_lxplus scripts; minor updates to fetch, plotdataMC, array_writer, samples (#148)
  .github/workflows/fetch.yml
  condor_lxplus/checkoutputs.py
  condor_lxplus/execute.sh
  condor_lxplus/submitter.py
  scripts/fetch.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/utils/array_writer.py
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/utils/xrootdtools.py
Labels: CI

add most available uncertainties
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

add muon and electron correction files
  src/BTVNanoCommissioning/data/LSF/2024_Summer24/electron.json.gz
Labels: none

run jet veto maps for all years
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/selection.py
Labels: none
