Repository cms-btv-pog/BTVNanoCommissioning, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, core, runner

fix : modified 0.,0. ranges for defintions.py
  src/BTVNanoCommissioning/helpers/definitions.py
Labels: none

fix : black errors and format error
  plotting/comparison.py
  plotting/plotdataMC.py
  plotting/plotter.py
  runner.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/compile_jec.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: runner

feat: fix definitions
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

feat : add CI pipeline per workflow & edit commits with suggestions
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ttbar_dilepton_workflow.yml
  .github/workflows/ttbar_semilep_workflow.yml
  .github/workflows/validation_workflow.yml
  plotting/comparison.py
  plotting/plotdataMC.py
  plotting/plotter.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/compile_jec.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: CI

feat : merge CI pipelines
  .github/workflows/ttbar_SL_DL_workflow.yml
  .github/workflows/ttbar_semilep_workflow.yml
Labels: CI

fix:remove from fix:remove .cc from .gitignore
  .gitignore
Labels: none

fix : fix CI pipelines with updated enviroment
  README.md
  env.yml
  test_env.yml
Labels: none

fix: update workflows
  .github/workflows/ctag_DY_workflow.yml
  README.md
  runner.py
  src/BTVNanoCommissioning/data/LSF/Rereco17_94X/RunBCDEF_MuIDSF_lowpT.histo.root
  src/BTVNanoCommissioning/data/LSF/Rereco17_94X/RunBCDEF_MuISOSF.histo.root
  src/BTVNanoCommissioning/data/LSF/Rereco17_94X/RunBCDEF_SF_MuID.histo.root
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
Labels: CI, runner

feat: rename SFs
  src/BTVNanoCommissioning/data/LSF/Rereco17_94X/RunBCDEF_MuIDSF.histo.root
Labels: none

fix : fix CI pipelines with updated enviroment
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ttbar_SL_DL_workflow.yml
  .github/workflows/validation_workflow.yml
  README.md
  env.yml
  runner.py
  src/BTVNanoCommissioning/data/LSF/Rereco17_94X/RunBCDEF_MuIDSF.histo.root
  src/BTVNanoCommissioning/data/LSF/Rereco17_94X/RunBCDEF_MuIDSF_lowpT.histo.root
  src/BTVNanoCommissioning/data/LSF/Rereco17_94X/RunBCDEF_MuISOSF.histo.root
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  test_env.yml
Labels: CI, runner

fix : fix bug for adding multiple coffea files
  plotting/comparison.py
  plotting/plotdataMC.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

fix : fix CI pipelines with updated enviroment (#32)
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ttbar_SL_DL_workflow.yml
  .github/workflows/validation_workflow.yml
  README.md
  env.yml
  plotting/comparison.py
  plotting/plotdataMC.py
  runner.py
  src/BTVNanoCommissioning/data/LSF/Rereco17_94X/RunBCDEF_MuIDSF.histo.root
  src/BTVNanoCommissioning/data/LSF/Rereco17_94X/RunBCDEF_MuIDSF_lowpT.histo.root
  src/BTVNanoCommissioning/data/LSF/Rereco17_94X/RunBCDEF_MuISOSF.histo.root
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  test_env.yml
Labels: CI, runner

fix : fix failed CI pipelines and bug on JERC
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ttbar_SL_DL_workflow.yml
  README.md
  src/BTVNanoCommissioning/data/JME/Rereco17_94X/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/utils/compile_jec.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_valid_jec.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_jec.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_jec.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: CI

feat : add run2022 information
  README.md
  src/BTVNanoCommissioning/data/lumiMasks/Cert_Collisions2022_355100_357900_Golden.json
  src/BTVNanoCommissioning/helpers/xsection.py
  test_env.yml
Labels: none

fix : wrap up run dependencies stuff for run3
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ttbar_SL_DL_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation_workflow.yml
  README.md
  metadata/94X_doublemu_PFNano.json
  metadata/94X_singlemu_PFNano.json
  metadata/ctag_DY_mu_PFNano.json
  metadata/test.json
  metadata/test_w_dj.json
  metadata/test_w_dj_e.json
  metadata/test_w_dj_ee.json
  metadata/test_w_dj_emu.json
  metadata/test_w_dj_mu.json
  metadata/test_w_dj_mumu.json
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_V1_MC_PtResolution_AK4PFPuppi.jr.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_valid_jec.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_jec.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_jec.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
Labels: CI

fix : minor fix on lumimask, plotting code
  README.md
  plotting/comparison.py
  plotting/plotdataMC.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  test_env.yml
Labels: none

fix : minor fix on lumimask, plotting code (#34)
  README.md
  plotting/comparison.py
  plotting/plotdataMC.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  test_env.yml
Labels: none

feat : update scaleout options and fix minor errors for plotting code
  README.md
  plotting/comparison.py
  plotting/plotdataMC.py
  runner.py
Labels: runner

fix: update README
  README.md
  plotting/plotdataMC.py
Labels: none

feat : update scaleout options and fix minor errors for plotting code (#35)
  README.md
  plotting/comparison.py
  plotting/plotdataMC.py
  runner.py
Labels: runner

plotting: option for parsing inputs with a wildcard, minor adjustments
  README.md
  plotting/comparison.py
  plotting/plotdataMC.py
  test_env.yml
Labels: none

linting with black
  plotting/comparison.py
  plotting/plotdataMC.py
Labels: none

minor fix
  .github/workflows/ttbar_workflow.yml
Labels: CI

feat: wildcard option for plotting and minor modifications, fix: missing package in test_env.vml (#36)
  README.md
  plotting/comparison.py
  plotting/plotdataMC.py
  test_env.yml
Labels: none

fix typo in test_env.yml
  test_env.yml
Labels: none

feat : add RunD JEC files, Run3 dataset json files
  README.md
  metadata/MC_Winter22.json
  metadata/data_Winter22.json
  plotting/comparison.py
  plotting/plotdataMC.py
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunD_V2_DATA_L1FastJet_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunD_V2_DATA_L2L3Residual_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunD_V2_DATA_L2Relative_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunD_V2_DATA_L2Residual_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunD_V2_DATA_L3Absolute_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunD_V2_DATA_Uncertainty_AK4PFPuppi.junc.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/utils/compile_jec.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
Labels: none

format
  plotting/comparison.py
  plotting/plotdataMC.py
  src/BTVNanoCommissioning/utils/compile_jec.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
Labels: none

fix : rename json file & add more info in README
  README.md
  metadata/MC_Winter22_BTV_Run3_2022_Comm_v1.json
  metadata/data_Winter22.json
  metadata/data_Winter22_emu_BTV_Run3_2022_Comm_v1.json
  metadata/data_Winter22_mu_BTV_Run3_2022_Comm_v1.json
  metadata/data_Winter22_mumu_BTV_Run3_2022_Comm_v1.json
  plotting/comparison.py
  plotting/plotdataMC.py
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunC_V2_DATA_L1FastJet_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunC_V2_DATA_L2L3Residual_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunC_V2_DATA_L2Relative_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunC_V2_DATA_L3Absolute_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_V2_MC_L1FastJet_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_V2_MC_L2Relative_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_V2_MC_L2Residual_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_V2_MC_L3Absolute_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_V2_MC_UncertaintySources_AK4PFPuppi.junc.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_V2_MC_Uncertainty_AK4PFPuppi.junc.txt
  src/BTVNanoCommissioning/utils/compile_jec.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
Labels: none

feat : minor fix on plotting code
  plotting/comparison.py
  plotting/plotdataMC.py
Labels: none

fix : edit readme, minor edits for plotting scripts
  README.md
  plotting/comparison.py
  plotting/plotdataMC.py
Labels: none

fix:minor fix on readme
  README.md
Labels: none

fix: wildcard options
  README.md
Labels: none

feat : add RunD JEC files, Run3 dataset json files (#37)
  README.md
  metadata/MC_Winter22_BTV_Run3_2022_Comm_v1.json
  metadata/data_Winter22_emu_BTV_Run3_2022_Comm_v1.json
  metadata/data_Winter22_mu_BTV_Run3_2022_Comm_v1.json
  metadata/data_Winter22_mumu_BTV_Run3_2022_Comm_v1.json
  plotting/comparison.py
  plotting/plotdataMC.py
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunC_V2_DATA_L1FastJet_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunC_V2_DATA_L2L3Residual_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunC_V2_DATA_L2Relative_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunC_V2_DATA_L3Absolute_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunD_V2_DATA_L1FastJet_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunD_V2_DATA_L2L3Residual_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunD_V2_DATA_L2Relative_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunD_V2_DATA_L2Residual_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunD_V2_DATA_L3Absolute_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_RunD_V2_DATA_Uncertainty_AK4PFPuppi.junc.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_V2_MC_L1FastJet_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_V2_MC_L2Relative_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_V2_MC_L2Residual_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_V2_MC_L3Absolute_AK4PFPuppi.jec.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_V2_MC_UncertaintySources_AK4PFPuppi.junc.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/Winter22Run3_V2_MC_Uncertainty_AK4PFPuppi.junc.txt
  src/BTVNanoCommissioning/data/JME/Winter22Run3/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/utils/compile_jec.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
Labels: none

feat : add PU files
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ttbar_SL_DL_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation_workflow.yml
  README.md
  metadata/data_Winter22_mu_BTV_Run3_2022_Comm_v1.json
  metadata/data_Winter22_mumu_BTV_Run3_2022_Comm_v1.json
  plotting/comparison.py
  plotting/plotdataMC.py
  runner.py
  src/BTVNanoCommissioning/data/PU/UL16/puwei_UL16.histo.root
  src/BTVNanoCommissioning/data/PU/UL17/puwei_UL17.histo.root
  src/BTVNanoCommissioning/data/PU/UL18/puwei_UL18.histo.root
  src/BTVNanoCommissioning/data/PU/Winter22Run3/pileup_Data_Run3_2022_ERA_CDv2.root
  src/BTVNanoCommissioning/data/PU/Winter22Run3/pileup_DistrWinter22_Run3_2022_LHC_Simulation_10h_2h.root
  src/BTVNanoCommissioning/data/PU/Winter22Run3/puweight_Winter22Run3.histo.root
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: CI, runner

fix : minor fix
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ttbar_SL_DL_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation_workflow.yml
  README.md
  plotting/comparison.py
  plotting/plotdataMC.py
  runner.py
  src/BTVNanoCommissioning/data/PU/Winter22Run3/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
Labels: CI, runner

feat : add PU files (#38)
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ttbar_SL_DL_workflow.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation_workflow.yml
  README.md
  metadata/data_Winter22_mu_BTV_Run3_2022_Comm_v1.json
  metadata/data_Winter22_mumu_BTV_Run3_2022_Comm_v1.json
  plotting/comparison.py
  plotting/plotdataMC.py
  runner.py
  src/BTVNanoCommissioning/data/PU/UL16/puwei_UL16.histo.root
  src/BTVNanoCommissioning/data/PU/UL17/puwei_UL17.histo.root
  src/BTVNanoCommissioning/data/PU/UL18/puwei_UL18.histo.root
  src/BTVNanoCommissioning/data/PU/Winter22Run3/__init__.py
  src/BTVNanoCommissioning/data/PU/Winter22Run3/pileup_Data_Run3_2022_ERA_CDv2.root
  src/BTVNanoCommissioning/data/PU/Winter22Run3/pileup_DistrWinter22_Run3_2022_LHC_Simulation_10h_2h.root
  src/BTVNanoCommissioning/data/PU/Winter22Run3/puweight_Winter22Run3.histo.root
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: CI, runner

minor fixes for runner.py and comparison.py
  plotting/comparison.py
  runner.py
Labels: runner

formatting with black
  plotting/comparison.py
Labels: none

fix: add JEC to MET and plot format
  .gitignore
  plotting/comparison.py
  plotting/plotdataMC.py
  runner.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: runner

fix: set tail of PU to 1
  src/BTVNanoCommissioning/data/PU/Winter22Run3/puweight_Winter22Run3.histo.root
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: none

.github/labeler.yml:

CI:
- .github/workflows/*

core:
- src/BTVNanoCommissioning/*

runner:
- runner.py
