Repository cms-btv-pog/BTVNanoCommissioning, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, core, runner

.github/labeler.yml:

CI:
- .github/workflows/*

core:
- src/BTVNanoCommissioning/*

runner:
- runner.py

remove old workflow name
  scripts/plotdataMC.py
Labels: none

remove unnecessary import
  scripts/dump_processed.py
Labels: none

move comment
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

revert 2D workflows
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/_2D_ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: none

try adding this branch to run pipelines
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/python_linting.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
Labels: CI

revert to cms-btv-pog master
  .gitignore
  .sites_map.json
  condor/submitter.py
  scripts/dump_processed.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/data/lumiMasks/Cert_Collisions2024_378981_386951_Golden.json
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/_2D_ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wctt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  test_env.yml
Labels: none

remove leftover samples too
  .github/workflows/BTA_workflow.yml
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/python_linting.yml
  .github/workflows/ttbar_workflow.yml
  .github/workflows/validation.yml
  src/BTVNanoCommissioning/utils/sample.py
Labels: CI

remove change
  .github/workflows/BTA_workflow.yml
Labels: CI

remove change
  .github/workflows/BTA_workflow.yml
Labels: CI

add skeleton for sfl negtag DY workflow
  metadata/test_sfl_negtag_DY.json
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/sfl_negtag_DY.py
Labels: none

update DY negtag workflow
  metadata/MC_Summer22_2022_sfl_negtag_DY.json
  metadata/data_Summer22_2022_sfl_negtag_DY.json
  metadata/test_sfl_negtag_DY.json
  metadata/test_sfl_negtag_DY_MC.json
  metadata/test_sfl_negtag_DY_data.json
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/sfl_negtag_DY.py
Labels: none

Added light SF workflow
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/DY_sfl.py
  src/BTVNanoCommissioning/workflows/__init__.py
Labels: none

Updates to light SF code
  src/BTVNanoCommissioning/utils/sample.py
  src/BTVNanoCommissioning/workflows/DY_sfl.py
Labels: none

Removed old workflow
  src/BTVNanoCommissioning/workflows/sfl_negtag_DY.py
Labels: none

Removed customized metadata
  metadata/MC_Summer22_2022_sfl_negtag_DY.json
  metadata/data_Summer22_2022_sfl_negtag_DY.json
  metadata/test_sfl_negtag_DY.json
  metadata/test_sfl_negtag_DY_MC.json
  metadata/test_sfl_negtag_DY_data.json
Labels: none

Reversed changeds
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
Labels: none

Changed histogrammer.py and reformatted __init__.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/workflows/__init__.py
Labels: none

add corrections and upgrade coffea/awkward version
  runner.py
  scripts/dump_processed.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/data/LSF/2022_Summer22/ScaleFactors_Muon_Z_Run2022_Prompt_abseta_pT_schemaV2.json
  src/BTVNanoCommissioning/data/LSF/2022_Summer22/ScaleFactors_Muon_trackerMuons_Z_2022_Prompt_ID_ISO_schemaV2.json
  src/BTVNanoCommissioning/data/LSF/2022_Summer22EE/ScaleFactors_Muon_Z_Run2022EE_Prompt_abseta_pT_schemaV2.json
  src/BTVNanoCommissioning/data/LSF/2022_Summer22EE/ScaleFactors_Muon_trackerMuons_Z_2022EE_Prompt_ID_ISO_schemaV2.json
  src/BTVNanoCommissioning/data/LSF/2022_Summer22EE/electron.json.gz
  src/BTVNanoCommissioning/helpers/MuonScaRe.py
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  test_env.yml
Labels: runner

update runner
  runner.py
Labels: runner

update test_env.yml
  test_env.yml
Labels: none

update scripts
  scripts/dump_processed.py
  scripts/plotdataMC.py
Labels: none

remove whitespace
  scripts/plotdataMC.py
Labels: none

delete old lepton SFs and add new MUO script
  .gitignore
  src/BTVNanoCommissioning/data/LSF/2022_Summer22/ScaleFactors_Muon_Z_Run2022_Prompt_abseta_pT_schemaV2.json
  src/BTVNanoCommissioning/data/LSF/2022_Summer22/ScaleFactors_Muon_trackerMuons_Z_2022_Prompt_ID_ISO_schemaV2.json
  src/BTVNanoCommissioning/data/LSF/2022_Summer22EE/ScaleFactors_Muon_Z_Run2022EE_Prompt_abseta_pT_schemaV2.json
  src/BTVNanoCommissioning/data/LSF/2022_Summer22EE/ScaleFactors_Muon_trackerMuons_Z_2022EE_Prompt_ID_ISO_schemaV2.json
  src/BTVNanoCommissioning/data/LSF/2022_Summer22EE/electron.json.gz
  src/BTVNanoCommissioning/helpers/MuonScaRe.py
Labels: none

add scale & smearing correction code
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
Labels: none

try adding cvmfs to runner
  .github/workflows/BTA_workflow.yml
Labels: CI

push print statements for debugging
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

try wiht cvmfs
  .github/workflows/BTA_workflow.yml
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: CI

remove debug statements
  .github/workflows/BTA_workflow.yml
  src/BTVNanoCommissioning/utils/correction.py
Labels: CI

update setup and debug pipeline
  setup.cfg
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
Labels: none

remove gfal-ls
  src/BTVNanoCommissioning/workflows/BTA_producer.py
Labels: none

add eos
  .github/workflows/BTA_workflow.yml
Labels: CI

push broken correction.py
  src/BTVNanoCommissioning/data/JME/2023_Summer23/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/JME/2023_Summer23/jec_compiled_V1_AK4PFPuppi.pkl.gz
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

first commit
  .gitignore
  .sites_map.json
  README.md
  condor/submitter.py
Labels: none

add lines back
  .gitignore
Labels: none

update runner.py
  runner.py
Labels: runner

update scripts/dump_processed.py
  scripts/dump_processed.py
Labels: none

add sites stuff
  scripts/fetch.py
  src/BTVNanoCommissioning/utils/xrootdtools.py
Labels: none

remove and add correction files
  src/BTVNanoCommissioning/data/LSF/2022_Summer22/ScaleFactors_Muon_Z_Run2022_Prompt_abseta_pT_schemaV2.json
  src/BTVNanoCommissioning/data/LSF/2022_Summer22/ScaleFactors_Muon_trackerMuons_Z_2022_Prompt_ID_ISO_schemaV2.json
  src/BTVNanoCommissioning/data/LSF/2022_Summer22EE/ScaleFactors_Muon_Z_Run2022EE_Prompt_abseta_pT_schemaV2.json
  src/BTVNanoCommissioning/data/LSF/2022_Summer22EE/ScaleFactors_Muon_trackerMuons_Z_2022EE_Prompt_ID_ISO_schemaV2.json
  src/BTVNanoCommissioning/data/LSF/2022_Summer22EE/electron.json.gz
  src/BTVNanoCommissioning/data/LSF/2024_Summer24/electron.json.gz
  src/BTVNanoCommissioning/data/lumiMasks/Cert_Collisions2024_378981_386951_Golden.json
Labels: none

update plot script
  scripts/plotdataMC.py
Labels: none

dump
  scripts/dump_processed.py
Labels: none
