Repository cms-btv-pog/BTVNanoCommissioning, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, core, runner

split JER and add selection modifier selection to AK4_parameters.py
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  condor/submitter.py
  condor_lxplus/submitter.py
  docs/developer.md
  docs/user.md
  runner.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/_2D_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/_2D_ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
Labels: CI, runner

add split JER, add promptMVA ID, add workflow correction choice, reorganize xs dictionary, minor fixes
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  condor/submitter.py
  condor_lxplus/submitter.py
  docs/developer.md
  docs/user.md
  runner.py
  scripts/fetch.py
  scripts/maketar.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
Labels: CI, runner

revert btagSFs
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

change some systs to false
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

new plotter with systematics
  scripts/plotSysts.py
Labels: none

run linter
  src/BTVNanoCommissioning/workflows/__init__.py
Labels: none

remove extra workflows
  src/BTVNanoCommissioning/workflows/__init__.py
Labels: none

fix bug
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

bump 2023 JERC version
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

no promptMVA in 2022 and 2023
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
Labels: none

fix typo
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
Labels: none

add systematics plotter to documentation
  docs/_static/figs/systs_btagUParTAK4BvC_0_flav_log.png
  docs/_static/figs/systs_jet0_pt_flav_scale.png
  docs/_static/figs/systs_posl_pt_sample.png
  docs/scripts.md
  scripts/plotSysts.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
Labels: none

linter
  scripts/plotSysts.py
Labels: none

fix memory leak in plotter
  scripts/plotSysts.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/helpers/xs_scaler.py
Labels: none

linter
  src/BTVNanoCommissioning/helpers/xs_scaler.py
Labels: none

fix memory leak
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/utils/selection.py
Labels: none

revert
  .gitignore
  condor/execute.sh
Labels: none

add final sample
  condor_lxplus/execute.sh
  src/BTVNanoCommissioning/utils/sample.py
Labels: none

remove extra jsonpog lines
  condor/execute.sh
  scripts/plotSysts.py
Labels: none

preserving original
  .gitignore
  condor_lxplus/execute.sh
Labels: none

add pngs
  docs/_static/figs/systs_btagUParTAK4BvC_0_flav_log.png
  docs/_static/figs/systs_jet0_pt_flav_scale.png
  docs/_static/figs/systs_posl_pt_sample.png
Labels: none

change JERC to JEC
  docs/developer.md
Labels: none

clean up
  docs/scripts.md
  pyproject.toml
  runner.py
  scripts/plotSysts.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogramming/histograms/common.py
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: runner

add samples to samples_mergemap and standardize to CAT and BTV colors
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: none

update paths
  src/BTVNanoCommissioning/utils/selection.py
Labels: none

last syncing
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
Labels: none

remove extra stuff
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
Labels: none

organize xs dictionary and add comments
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

reorganize xs dictionary
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

add campaign map
  src/BTVNanoCommissioning/utils/selection.py
Labels: none

reorder
  src/BTVNanoCommissioning/utils/sample.py
Labels: none

test run 2025
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

fix 2025
  src/BTVNanoCommissioning/data/MUO/Run3-25Prompt-Summer24-NanoAODv15/latest/muon_Z.json.gz
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

remove extra file
  src/BTVNanoCommissioning/data/MUO/Run3-25Prompt-Summer24-NanoAODv15/latest/muon_Z.json.gz
Labels: none

fix linter
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

fix missing path
  src/BTVNanoCommissioning/utils/correction.py
Labels: none

add batch name feature
  condor/submitter.py
Labels: none

add batch name feature
  condor/submitter.py
Labels: none

chore: skim sumw in scaling if not included in output
  src/BTVNanoCommissioning/helpers/xs_scaler.py
Labels: none

Add split JER, promptMVA, custom workflow corrections, new data/MC plotter with syst (#207)
  .github/workflows/QCD_workflow.yml
  .github/workflows/ctag_DY_workflow.yml
  .github/workflows/ctag_Wc_workflow.yml
  .github/workflows/ctag_ttbar_workflow.yml
  .github/workflows/ttbar_workflow.yml
  condor/execute.sh
  condor/submitter.py
  condor_lxplus/submitter.py
  docs/_static/figs/systs_btagUParTAK4BvC_0_flav_log.png
  docs/_static/figs/systs_jet0_pt_flav_scale.png
  docs/_static/figs/systs_posl_pt_sample.png
  docs/developer.md
  docs/scripts.md
  docs/user.md
  runner.py
  scripts/fetch.py
  scripts/maketar.py
  scripts/plotSysts.py
  scripts/plotdataMC.py
  src/BTVNanoCommissioning/data/MUO/Run3-25Prompt-Summer24-NanoAODv15/latest/muon_Z.json.gz
  src/BTVNanoCommissioning/helpers/xs_scaler.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/selection.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
Labels: CI, runner

.github/labeler.yml:

CI:
- .github/workflows/*

core:
- src/BTVNanoCommissioning/*

runner:
- runner.py
